[2020-09-03 05:13] penberg opened #1 "Memory allocation failures in "cargo test""
[code]

[2020-09-03 05:21] penberg commented on #1
Perhaps my kernel is too old?

[code]

[2020-09-03 05:43] penberg commented on #1
Hmm, probably not, some of the `io_uring_setup` calls succeed. The failing ones look like this (there's a concurrent `io_uring_setup` that succeeds):

[code]

Let me know if you want the full strace log.

[2020-09-03 09:00] L1AN0 commented on #1
Same error here.

[code]

[2020-09-03 19:06] penberg commented on #1
@glommer If everyone is going to hit this with default `memlock` rlimit, then it's best to fix the code to use less of it. However, there's no harm in also improving the error message, which I did in pull request #4.

[2020-09-03 19:13] glommer commented on #1
@penberg I agree it is better but it may not be possible in practice because we can't control how many threads will be spawned: at some point it may blow up the memory.

However let's not allow perfect to be the enemy of the good here: I agree with you that at least for the common case of running a bunch of tests it shouldn't fail.

I'll figure something out next.

May I ask how many threads your

[2020-09-03 19:15] #1 closed

[2020-09-03 19:21] penberg commented on #1
The default `memlock` limit on Fedora 32 is 64 KB. I am counting 71 `clone` calls with `CLONE_VM` for the `task_optimized_for_throughput` test case, for example. I needed to bump the `memlock` rlimit to 512 KiB to make it run.

[2020-09-04 01:18] glommer opened #7 "alignment requirements can be different across different systems"
For the sake of simplicity we are assuming the write-buffer alignment to be 4096kB, and the read-buffer alignment to be 512b. Those are likely good across the majority of systems, but some disks do not support 512b access.

Linux will tell us on sysfs what is the preferred alignment. We should use that.

[2020-09-06 06:33] HippoBaro commented on #7
https://people.redhat.com/msnitzer/docs/io-limits.txt documents how `sysfs` exports alignement information.
However alignment exist per-disk (and according to the previous link, per partition as well).

How should scipio deal with this? This actually look like a hard problem to solve.

[2020-09-06 15:39] glommer commented on #7
I fail to see what the problem is. Once you open a file, you can use stat-like syscalls to find out in which filesystem it is (have to follow links).

Once you know in which filesystem you are, the mount table will tell you which device.
And once you know that, you just read sysfs.

[2020-09-07 16:28] sitano commented on #7
Do you think of restricting write-buffer alignment by `physical_block_size` or by `logical_block_size` or by `max(min(4k, physical_block_size), logical_block_size)`?

Read-buffer its clear is restricted by the logical block size.

[2020-09-07 17:15] glommer commented on #7
See the document that Hippo linked

[code]

[2020-09-07 22:04] HippoBaro commented on #7
Potential implementation in #29

[2020-09-07 23:11] glommer opened #30 "Use io_uring's native support for networking"
As we inherited code from `async-io`, we are still doing networking with non-blocking sockets being polled + read/write syscall.

io_uring supports reading directly from *blocking* sockets which is supposed to be simpler and faster, not to mention there is support for fancy things like buffer selection.

I'd love to see the networking code changed to use io_uring's native capabilities. To do that

[2020-09-07 23:16] glommer opened #31 "Provide an ergonomic way to open a file given a directory"
Linux has an `open_at` syscall that opens a file given a directory.
The reason we don't have the same yet is that `open_at` overloads its meaning: if you pass an absolute path the dir argument is ignored.

That doesn't sit well with our level of abstraction: if we have an API that opens (or create) a file inside a directory we should make sure that the pathbuf does not contain directories and is j

[2020-09-07 23:20] glommer opened #32 "Add helpers to create many executors with placement hints."
Using the `hwloc` library, we are able to discover the topology of the box.

Our current API to create an executor takes a CPU number. But it would be nice if we could also have another, more expressive helper where we can express placement constraints and get that from `hwloc`.

Examples:
* "Give me two executors, placing them both in the same physical CPU, just in different hyperthreads"
* "Give

[2020-09-07 23:21] glommer commented on #31
I think just having the API is a good first issue. Taking advantage of that to use more advanced features is a good follow up and will take more time. So adding both labels

[2020-09-07 23:27] glommer opened #33 "Poll executor for a while before going to sleep"
Going to sleep is expensive, so it is better to poll the executor for a while before going to sleep, by calling `poll_io` instead of `park` even if we have no tasks. If we always do that, though, then our CPU usage is always 100% which is bad too.

Seastar, for instance, will default to polling for some time before going to sleep.

In our implementation, an executor may or may not be pinned to a C

[2020-09-08 08:40] sitano commented on #7
@glommer I saw that one. I just find it strange to have logical_block_size on my system to be 512.
[code]

[2020-09-08 09:50] L1AN0 opened #34 "crates.io?"
It seems that this library is not on crates.io. Any plan to publish it?

[2020-09-08 12:27] glommer commented on #34
Hello @L1AN0 .

Yes, this is a nascent library so it will take us some time. One of the impediments now is that crates.io only allow packages that depend on other crates and we have some direct git dependencies for unmerged code on `iou` and `uring-sys`.

I have experimental patches that import that code directly temporarily.

Give us a couple of days and it should be on crates.

Thanks!

[2020-09-08 12:59] glommer commented on #7
@sitano what do your disk report as `minimum_io_size` and `optimal_io_size` ?

I think in cases like yours we could use the `physical_block_size` as the write alignment. My fear is that Linux will allow you to issue 512-byte aligned writes but they will not be optimal and generate undue pressure on the device.

Reads are a different matter, and we want them as small as the device can handle.

[2020-09-08 13:10] sitano commented on #7
@glommer thats why I asked about having some min/max func as a workaround or at least targeting `physical_block_size`. Anyway, now I need to pass it to @HippoBaro as he gave the impl.

[2020-09-09 17:22] sitano opened #42 "What do you think of moving away `create_task_queue` out of Task<T>/Local?"
Some functions like `create_task_queue` in the `Task<T>` do not have any dependency on `self` but they can't be accessed via just `Task::func`. Now the workaround is to do `Task::<()>::` or `Local::`. Do you want to keep them in this namespace of we could move them out to the global scope?

[2020-09-09 18:01] glommer commented on #42
Hi @sitano

I prefer to keep them in this namespace, because they need an local executor to run (see how they panic if there isn't one).
I find it helpful that all functions under `Local` communicate that.

[2020-09-09 18:01] #42 closed

[2020-09-11 19:42] espindola opened #52 "hit "Attempting to release a source with pending waiters!""
In Rust futures don't have to be polled to completion. Probably the canonical example is a timeout, which can be implemented by wrapping a future and just not polling the inner future after some time.

This makes an impedance mismatch with io_uring, which requires buffers to be around until an operation completes. The attached program has no unsafe code, but hits a panic and, even with that avoide

[2020-09-11 19:57] glommer commented on #52
Awesome future unit test, thanks!

I think in this case we're mostly missing the right cancellation. Cancellation is *almost* working but you will see some parts of it commented out. The biggest issue is that as far as I understand the cancellation will generate a completion for the original request. The source is about to go away when we decide to cancel, so if we try to turn that into a pointer

[2020-09-15 04:34] vasantteja commented on #31
I would like to take look. Can I assign it to myself?

[2020-09-15 14:08] glommer commented on #31
if you need anything let me know!

[2020-09-15 17:47] #52 closed

[2020-09-28 17:09] glommer commented on #31
hi @vasantteja , how is this going for you ?

[2020-09-28 17:34] glommer opened #73 "Merge read requests for random file access"
Although a fully fledged I/O Scheduler is probably way into the future, there is a functionality that I would like to see from an early implementation that can serve as a seed for that: random read request merging.

Imagine a read workload for a datastore. It is possible, if not likely, that many independent readers may be touching the same file, in the same - or close enough - position.

If that

[2020-09-29 14:40] glommer commented on #33
This was closed by #53. However there are left overs. I'll open a new issue for them.

[2020-09-29 14:40] #33 closed

[2020-09-29 14:48] glommer opened #76 "For spinning executors, have a version of `poll` that doesn't mess with timers."
For executors that are configured to `spin`, we just `continue` the loop if we decide to keep spinning meaning we will go into `poll_io` to gather I/O.

This code is **correct** but it could be *more efficient*:
 - `poll_io` takes a duration parameter and it will reset the preempt timer for that duration. That means that we will have to do that timer dance every time we call `poll_io`.

If we are

[2020-09-30 13:52] glommer commented on #34
quick update on this: `iou` seems to have most of the bits we need now, but `uring-sys` is still broken (lacking a commit that fixes the poll ring)

We'll get there.

[2020-09-30 13:58] glommer commented on #34
I just opened https://github.com/ringbahn/uring-sys/issues/22 and https://github.com/ringbahn/uring-sys/issues/23

[2020-09-30 18:33] vasantteja commented on #31
@glommer  sorry, I was traveling and I couldn't take a look at this. I am currently working on this. I will reach out to you if I have any doubts. Thanks for the patience.

[2020-10-01 11:59] matklad opened #79 "Unclear soundness of `PosixDmaBuffer`"
Hi!

I've been casually browsing source of scipio (I am really excited about TpC in Rust!), and I *think* [`PosixDmaBuffer`](https://github.com/DataDog/scipio/blob/8a5d10dfbc70b0a199384fdca745f13fb8240a55/scipio/src/sys/posix_buffers.rs#L14) might lead to undefined behavior. At least, it's not clear to me why that wouldn't be the case.

Here are my notes:

* `PosixDmaBuffer::trim_to_size` and `Pos

[2020-10-01 12:25] glommer commented on #79
hello hello!!

Thanks for the thorough write up of the issues. Some things to consider:
* `PosixDmaBuffer` **is** a public type. It is exported as `DmaBuffer`, and the idea is that at some point we'll use `io_uring` registered buffers as an option. I just didn't have that time yet to make that work.

However, looking again now in the occasion of your comments, some functions that are currently `pu

[2020-10-02 08:34] matklad commented on #79
No promises here, I am pretty swamped at the moment :)  Though, if I get a chunk of time to read more of scipio, I'll try to make some PRs as well.

[2020-10-02 12:31] glommer commented on #79
awesome, no pressure either, it's just awesome to have more people around. If I get to it by next week I'll let you know

[2020-10-02 20:06] matklad commented on #79
Submitted #80, and, while doing it, I've noticed a more serious issue:

`copy_from_slice` and `memset` requires only a shared reference (`&self`), which breaks Rust's aliasing guarantees. Specifically, the following code demonstrates unsoundness:

[code]

If my understanding of Rust unsafe semantics is correct, the compiler can assume that `slice` can not be changed by a call to `copy_from_slice`

[2020-10-02 20:17] glommer commented on #79
Thanks a lot! I just saw that you sent two PRs and I will get to them soon.

Is it too obvious already that I spent my last 10 years writing C++? =)

From the options you listed the `Cell` seems to be the best based on my current understanding.

[2020-10-02 21:27] #79 closed

[2020-10-04 16:29] matklad opened #92 "DmaFile::close is unsound"
This code is unsound for two reasons:

https://github.com/DataDog/scipio/blob/35c116c8db5ee4bd432968fb8417799198526de7/scipio/src/io/dma_file.rs#L521-L523

* first, `-1` is an invalid fd, and this is going to be directly exploited soon: https://github.com/rust-lang/rust/pull/74699
* second, after we close the file vie uring, the usual `Drop` for the `file` field runs and closes the fd for the seco

[2020-10-05 13:50] glommer commented on #92
Hello

Note that the `Drop` implementation should only close the file if we failed to close with io_uring. By *failed* here I don't
mean that the operation failed, rather that the user forgot. At least that was my intent, but that was one of the first functions I wrote!

I see now that given Rust rules, to really avoid calling `close` on std::fs::file, we should be using `ManuallyDrop`. So there i

[2020-10-06 19:28] matklad commented on #92
Aha, this is a very insightful comment, thanks. What semantic do we want from close in this case? I can imagine two different ones:

1. we can require that, when the user calls `close`, there are no in-flight ops.
2. we can say that it's OK to call close while there are in-flight ops, that close will immediately prevent new ops from being submitted, and that it will block until all pending ops are

[2020-10-06 20:20] glommer commented on #92
I think we can drive real-life inspiration from the file stream API, which uses a DmaFile underneath. Indeed (see https://github.com/DataDog/scipio/blob/master/scipio/src/io/file_stream.rs#L293), the way we end up using it there is with `Rc::get_mut` which is similar in spirit to what you propose.

I think suggestion `2` breaks the principle of least surprise so it would be a no-go.

While we are

[2020-10-06 20:30] matklad commented on #92
I don't think we need to change fd to get useful diagnostics. With consuming `close`, we can just always print a diagnostic in drop and `mem::forget` the file descriptor in `.close` after it is dropped.

[2020-10-06 20:32] matklad commented on #92
Oh, interesting, actually my manually drop code [here](https://github.com/matklad/scipio/commit/503d7d2b02df06e6925a06062e306757b3fcf1c1#diff-e7a459f8a974faab91a8e1ae924dda6aR179) is subtly wrong: we need to wrap `self` in `ManuallyDrop` only after `.await`. Otherwise, if the user cancels the future, we would manage to leak a descriptor witthout warning!

[2020-10-06 20:36] glommer commented on #92
Just keep in mind that the diagnostics are nice, but what is really nicer is not having the bug in the first place: so we are doing now on `drop` is closing the file - so the leak becomes a performance problem (synchronous call in an asynchronous reactor).

I think if the underlying file was under an `Option` that could work: async `close` would set it to none, and we'd force-close it if it was `S

[2020-10-06 20:45] matklad commented on #92
Hm, I think this would use one more option than necessary. Just this should do the trick I would think: https://github.com/matklad/scipio/commit/aba8886b637d1880b659cb12cb297ecc75fcde0b.

This is a common pattern in Rust -- make `Drop` always emit a warning/panic, and have a separate self-taking method for explicit disposing of the resource, which uses mem::forget/ManuallyDrop internally. I even h

[2020-10-06 20:50] glommer commented on #92
That sounds like a good way to do it.

[2020-10-13 13:26] #92 closed

[2020-10-13 22:43] matklad opened #110 "`LocalExecutor::make_default` leaks memory via RC cycle"
The

[comment](https://github.com/DataDog/scipio/pull/104#issuecomment-707750633) got me curious, so I decided to `miri` that test.

[code]

Sure enough, it found a memory leak:

[code]

Poking around `closure@scipio/src/executor.rs:455:17: 458:18 ` revealed what seems to an Rc-cycle memory leak. This commit adds a minimal demonstration and a crude fix via weak pointers:

https://github.com/matkla

[2020-10-13 23:07] glommer commented on #110
never heard of miri, and the output you posted is insanely helpful, a lot more than the asan default stuff.
I can only hope you benefiting from scipio one way or another as much as we are benefiting from your contributions.

I'll take a look at all of your pending stuff tomorrow morning

[2020-10-16 16:38] matklad opened #117 "Consider moving integration tests over to `/tests/integration.rs`"
Rust has two style of testing -- unit tests inside the lib crate itself, and integration tests in `/tests` dir. Each integration test is a separate crate, which is linked to the library crate and has access only to public API.

I think it makes sense to move tests that can be integration to integration tests.  The benefits are:

* integration test don't have access to private items, so we make sur

[2020-10-16 16:43] glommer commented on #117
that's desirable, but we barely have any integration tests at the moment which is why the tests directory is not used.
Is there any test in particular that you think should be moved?

I agree that there is a role to be played with integration tests, but at this point this issue should probably be to write them, not to move them =)

As per the documentation issue, I've been relying mostly on `examp

[2020-10-16 16:46] matklad commented on #117
Hm, I was under the impression that, eg, all DmaFile tests could be integrated. But I haven't actually checked that, so that might be wrong.

Even if it is wrong though, if I look at random test like

[code]

It seems like it *should* be testing public API?

[2020-10-16 17:01] glommer commented on #117
humm.
I think the `DmaFile` tests would indeed use mostly public APIs.
But that's because there's very little if any private functions in those files.

Although they are using the public APIs, they are testing the DmaFile and nothing else. So why shouldn't be local to the crate?

I view integration tests are more essential when they are testing things that may combine many classes.

In terms of ke

[2020-10-16 17:14] matklad commented on #117
I think we might be using the same words to mean different things here.

A (colloquial meaning): "unit test" is a test that checks a single component, and "integrated" test is a test that checks interaction between several component.

B (cargo's technical meaning): "unit test" is a test in a `#[cfg(test)]` module inside the library crate (same compilation unit), and "integrated" test is a test in

[2020-10-16 17:18] glommer commented on #117
@HippoBaro wondering if you have an opinion here?
My personal view on this is that this only adds to confusion: If you happen to want to test both private and public APIs for a component you now have the tests spread into two places. It gets a bit harder to say "Run all tests for dma_file" (which we can now do by `cargo test dma_file`. You could always require that tests that test the public API f

[2020-10-16 17:28] HippoBaro commented on #117
I think this project is at an early stage and we should prioritize simplicity and flexibility.

That being said, I like the idea of integration tests being separated and only able to use public APIs.
As a code reader, there is also value in separating them. Our users can treat integration tests as a source of examples and documentation for specific APIs.

But I feel that the latter arguments benef

[2020-10-16 17:31] matklad commented on #117
It feels that there is sufficient desire to maintain a status quo here, so closing!

[2020-10-16 17:31] #117 closed

[2020-10-18 19:08] matklad opened #120 "executor::test::test_ping_pong_yield is flaky"
This test fails for me once in a while:

[code]

[2020-10-18 19:17] glommer commented on #120
What was the value of the counter when it failed ?
I'll take a look early tomorrow.

[2020-10-18 19:19] matklad commented on #120
Didn’t printed it, will look into this tomorrow. Seems like he assert! can use a message :)

[2020-10-18 20:15] glommer commented on #120
Actually reading the code again to refresh my memory, that assertion cannot ever be anything other than 10, as it asserts right when it fires.

What it would be more useful then is to just remove the assert and print the values of "me" as the queue is selected.

[2020-10-18 20:17] glommer commented on #120
all right, I just managed to reproduce this by using taskset to make all tests run in the same CPU.
I have 12 CPUs so by default the load of all tests will be spread out a bit more.

Scheduler tests are quite sensitive to load, so that's likely why. I'll see how I can make this a bit more robust while still testing that we change queues often enough...

[2020-10-18 20:22] glommer commented on #120
Ok, it seems to me like under load it just may happen that we'll schedule the same task more often

[code]

[2020-10-18 20:30] glommer commented on #120
I believe the reason for that is that the quanta of work is much smaller than the OS time slice.
So what happens is that one of our task queues is asked to run for 200us, but the OS may take us out for a much longer time to run something else. The more threads you have (Which will increase with more tests), the more likely it is that you will not run for a much longer time.

When you are back to t

[2020-10-18 20:31] glommer commented on #120
It would be really nice to be able to say that some tests should run alone, btw.
I found some crates to do serial testing, but that's not really what we need: they'd require marking pretty much all tests are serial. What we need is just a handful of executor tests to execute undisturbed and the rest can go wild.

But trying to make them more robust is a good exercise too =)

[2020-10-18 20:33] matklad commented on #120
and the rest can go wild.

we can lock a reader-write lock at the start of the test. undisturbable
tests would w, and the rest would r.

On Sun, 18 Oct 2020 at 22:32, Glauber Costa <notifications@github.com>
wrote:

[2020-10-18 20:34] glommer commented on #120
Right, but that would require every test that we always write to take that lock, no ?
I thought of that but sounded quite heavy-handed.

[2020-10-18 20:42] matklad commented on #120
It surely is, but almost every test needs to create an executor anyway, so
we already have some common-to-all tests boilerplate, so I don't think it
would be more annoying in practice than what we have today. Locking can be
hidden in the already existing macros.

But, surely, making the tests more robust to threading would be a cleaner
option :0)

On Sun, 18 Oct 2020 at 22:34, Glauber Costa <notif

[2020-10-18 22:13] glommer commented on #110
I now found the time to look at your crude fix.

You're almost on point. Indeed it is one of those "obvious in retrospect" memory leak cases: a queue lives in a queue collection (`available_executors`), but the notification function that the scheduler calls needs access to the queue collection to insert the task queue into the active executors list so it can run again.

Weak pointers are indeed th

[2020-10-18 22:19] #110 closed

[2020-10-19 07:56] matklad opened #126 "Consider adding a forum/chat?"
If we intend to grow community around scipo, we would nee some community-space chat-like thing eventually. If we'll need it eventually, we might want to setup it sooner rather than later, because why not? Besides, I already have a couple of questions/thoughts that are ill-fitted for github issues ^^

Common choices in this area are:

* Gitter (actix web https://github.com/actix/actix-web)
* Discor

[2020-10-19 12:45] glommer commented on #126
@sitano had already requested that.
I'm not against it, and I think that publishing this on crates(*), which I intend to do this week, is the perfect opportunity to signal that this is a good time.

(*) clearly marked as alpha. I have deliberated about it and decided the advantages of an early 0.1-alpha are enough to push.

I have never used anything in that list other than Discord.
Is slack an op

[2020-10-19 12:49] sitano commented on #126
Don't kill me but what about Mailing List? :+1:
Also for a real-time chat option we certainly need history search. In that sense Slack is not an option.

[2020-10-19 12:57] glommer commented on #126
Our list of contributors is so far small, so I will take the liberty to tag the majority of them (hope I don't forget any, if yes sorry in advance). If you have any argument to add to one solution vs the other I'll be leaving this open until Friday so we can decide.

At the end of the day technology is just a small part of what a community is and I am sure we can build a great place together!

@pe

[2020-10-19 13:03] glommer commented on #126
@sitano I doubt any of those solutions would allow for keeping history without a premium plan.

[2020-10-19 13:03] teymour-aldridge commented on #126
Please not Gitter.

I like Zulip which I find to be the best platform for actually getting stuff done (Discord has historically had this "for gamers and gamers only" mindset so it's not perfect for project-related discussion, but it's a solid choice).

I think Discord will preserve infinite messages on the free plan, though I may be wrong.

[2020-10-19 13:14] matklad commented on #126
There are three orthogonal categories of reasons why I like the two:

# Overall Brokenness

* when I used gitter couple of years ago, it was horribly broken
* Discord is slowish, logs me out if I hard-close the browser (and I hard-close browsers all the time) and (no, this is not a joke), if you out-out of email notifications, there's not way to enable them back.
* Slack is oke-ish, but *typing* a

[2020-10-19 16:25] duarten commented on #126
Don't forget about GitHub Discussions.

[2020-10-19 23:12] glommer commented on #126
I did some research on this:
- Github Discussions seems like something that is enabled for the organization, not the project, so it is a no-go.
- Somebody on twitter suggested matrix.org, but I am ruling that out due to lack of native hosting.

Best two options are Zulip and Discord. My thoughts on them so far:

* Zulip boasts about how good their async support is for people in different time zone

[2020-10-19 23:14] glommer commented on #126
@matklad BTW, I consider a broken app a feature, not a bug.

When not in the computer, people should be enjoying life.

[2020-10-20 00:17] espindola commented on #126
Glauber Costa <notifications@github.com> writes:

My preference is for anything with an open source client that doesn't
require running a browser. The ones I know are email and IRC, but I
don't expect that to be super popular.

Cheers,
Rafael

[2020-10-20 03:30] duarten commented on #126
(Github discussion can be enabled per repo afaik.)

[2020-10-20 08:52] NOBLES5E commented on #34
@glommer  Is it possible to separate executor and `io_uring` related things into different crates?

There are many scenarios where we only need a one thread per core system and don't need `io_uring`. In these cases, an easy way to create local executors on individual threads is good enough.

[2020-10-20 12:18] glommer commented on #34
Are you proposing not doing I/O, or doing I/O through something else other than io_uring ?

[2020-10-20 12:21] glommer commented on #126
I found nothing of the sort in the settings, and the documentation I found is usually about how to enable it on an org. Maybe it can be set up per repo, once the organization has enabled it ?

[2020-10-20 15:00] duarten commented on #126
It's still in beta and being activated for some open source repositories; I don't have first-hand experience setting it up though. I just like that it's a sort of internal stackoverflow (e.g., https://github.com/vercel/next.js/discussions), searchable and persistent, but it would mean waiting until it's activated for this repo or made generally available.

[2020-10-20 22:37] NOBLES5E commented on #34
@glommer In my case not doing I/O.

[2020-10-20 23:18] glommer commented on #34
right, but are you not doing File I/O or any kind of I/O?

io_uring in Scipio is responsible for:
* timers
* file I/O (including stdin)
* network I/O.

I feel like it would be too crippling.

All the code we wrote that is needed for io_uring at this point was merged in the io_uring crates. So I don't see a lot of appeal in making that optional.

[2020-10-20 23:23] NOBLES5E commented on #34
@glommer Thanks for your  reply :)

[2020-10-20 23:25] glommer commented on #34
My pleasure! Please stick around, we'll have a chat soon (follow the discussion on https://github.com/DataDog/scipio/issues/126).

Despite the roadblock with io_uring, I should be able to publish on crates as early as this week. I will temporarily copy the io_uring code to unblock us.

[2020-10-20 23:26] NOBLES5E commented on #34
Thanks. I was thinking about if we are not doing I/O ( or we can use something else for I/O), then the lib can be used on systems with an older kernel (since most environments in my company runs on old kernel and I cannot change that )

[2020-10-20 23:36] glommer commented on #34
I understand your point.
I wouldn't use scipio in production for a while still =)
Hopefully by then your company will be in newer kernels.

There are advantages in supporting multiple environments but disadvantages too, as complexity grows.
At the moment I think it pays to keep it simple

[2020-10-21 08:49] laa opened #130 "Implemeantion of write_all/read_exact in DMA/Buffered file"
Hi,
I am the only beginner in this area, but as far as I understand write/read calls of the file implementations can write/read provided data only partially (I suppose behaviour of async counterparts is the same as sync counterparts) and if the developer wants to be sure that whole data are read/written she needs to write her own implementation. I understand that such functionality can be implemen

[2020-10-21 12:11] glommer commented on #130
Hello.

You might want to take a look at the StreamReader and StreamWriter structures (in the process of being renamed to `DmaStreamReader` and `DmaStreamWriter`, as we add buffered I/O)

They will read a file fully as a stream.

About partial reads and writes, they do happen, but usually they don't happen on a whim but rather due to some issue. For writes that is usually ENOSPC. For reads you mig

[2020-10-21 12:22] laa commented on #130
H @glommer ,

That is what I actually meant above when wrote

But if you think that is not desirable to provide such functionality on file level, you , for sure, can close the issue.

[2020-10-21 12:25] laa commented on #130
I mean that to speed up data processing I prefer to serialize to the DmaBuffer on the application level, instead of providing of serialized content in &[u8] form which then will be copied into DmaBuffer by a stream.

[2020-10-21 12:33] laa commented on #130
Could not stop myself to add 5 cents :-) I am a developer of OrientDB storage engine, and I have seen personally such problem on early stages of development of the engine. When we read a relatively small amount of data form the middle of the file. That is why I find handy to have such methods at hand :-)

[2020-10-21 12:36] glommer commented on #130
I am still struggling a bit to understand what exactly do you propose. It's early and I am still going through my coffee. (having cup 2 of 5 right now...) Maybe that's why =)

Is the issue that you'd like to provide us with a buffer that is already pre-serialized, instead of acquiring a `DmaBuffer` ?

If that is your goal I would indeed not use the `StreamWriter` for that. Mind you, the goal of th

[2020-10-21 12:41] glommer commented on #126
An update on this.

I spoke with folks from Zulip and we would qualify for their OSS project free usage tier (meaning we'd have full history, and the perks on the standard plan). With this, the biggest disadvantage of Zulip is gone.

From what I saw so far I liked Zulip. I like the idea of having something that can be used for real time communications and if it really does work well for async that

[2020-10-21 12:59] sitano commented on #126
@glommer Cool! What about group-wise async communication? Would be using Zulip also or Google Group (mailing lsts)?

[2020-10-21 13:02] glommer commented on #126
For now let's see if Zulip can handle everything. Aleksey claims that their async is good (although worse than the alternatives that focus on just that).

If it is a good mix between sync and async we'll not need anything else. Otherwise we'll revisit.

[2020-10-21 13:31] sitano commented on #126
Don't forget to send invites ;)

[2020-10-21 18:20] glommer commented on #130
@laa so I went through your request again from the beginning.

So what you want is a reimplementation of those specific APIs -> write_all, read_exact, but without taking `&[u8]`?

I am not a fan of that because I think that gets very confusing very fast. Think someone that already knows those APIs struggling to understand why ours is not a match.

But alternative APIs, clearly marked as such, then

[2020-10-22 02:17] glommer commented on #34
https://crates.io/crates/scipio

[2020-10-22 02:17] #34 closed

[2020-10-22 02:18] glommer commented on #126
Zulip is now active.

You can join with the link https://scipio.zulipchat.com/join/5gwim5jh2ghvrzqxztal5e4o/

I will leave the issue marked as open until I get confirmation we got upgraded to the full account, just in case.

[2020-10-22 13:07] #126 closed

[2020-10-22 13:16] matklad commented on #126
Adding Zulip link to the readme might be useful ;)

[2020-10-22 13:24] glommer commented on #126
Is the link stable or would it expire? Slack invitations link are infamous for expiring on you.

[2020-10-22 13:26] matklad commented on #126
I think you need just https://scipio.zulipchat.com ? Zulip doesn't require
a special invite link as far as I know.

On Thu, 22 Oct 2020 at 15:24, Glauber Costa <notifications@github.com>
wrote:

[2020-10-22 13:27] glommer commented on #126
good to know. I'll patch the `README` now. I noticed also that some of our examples in the `README` are outdated. Too bad Cargo can't compile them

[2020-10-22 13:32] matklad commented on #126
Well, there's https://github.com/livioribeiro/cargo-readme that is supposed
to help here.

But I personally prefer to keep README really short, and just link the main
page of the docs, which I use as a "real" readme:

* https://github.com/matklad/xshell, links to
* https://docs.rs/xshell/0.1.6/xshell/

On Thu, 22 Oct 2020 at 15:28, Glauber Costa <notifications@github.com>
wrote:

[2020-10-22 13:38] glommer commented on #126
Of course there is Cargo-something for that. How naive of me to think there wasn't a crate for that =)

Coincidentally yesterday I was thinking the same thing after seeing the final Readme rendered: that we should maybe keep it short and move most of it somewhere else.

You know what... why do it later. Let's do it now!

[2020-10-22 21:52] KaiserKarel opened #136 "Zulip invitation"
The README states that the Zulip community is the place to ask questions, but that seems to be invite only. Perhaps update the README, or open up the zulip community?

I do have some questions regarding Scipio, but I do not wish to pollute the issue tracker :)

[2020-10-22 22:37] glommer commented on #136
Hi! I am new to Zulip myself, and was under the impression that an invite would not be needed.

I definitely intend that to be fully open. Please join through this link for now and I'll see if I can get the settings right

https://scipio.zulipchat.com/join/yzruoxeedpvwaw2uaa7kfi2t/

[2020-10-22 22:39] glommer commented on #136
Also if you don't mind trying again, I flipped a setting that I found that said that invitations were indeed needed.

[2020-10-23 08:42] laa commented on #130
Hi @glommer ,
Is my understanding correct that you mean that I would like to add write_all, read_exact to the stream API ?
That is not completely correct.

As far as I can see DmaFile takes DmaBuffer as a source of data (As I can see BufferedFile takes Vec<u8>, returns Vec<u8> as result.).
What I proposed is - to add write_all and read_exact methods to DmaFile which also will take DmaBuffer as a p

[2020-10-23 08:49] laa commented on #130
Hi @glommer ,
Your first guess of what I  intended to propose was correct :-). I am sorry for the silence, I  was quite busy.

I do want to avoid double copy overhead for both reads and writes. And my idea is to implement write_all/read_exact methods which accept DmaBuffer and the same methods for the BufferedFile for the symmetry.

I wanted to implement such methods internally but then thought th

[2020-10-23 12:03] glommer commented on #130
I don't mind having those methods, but I think I would prefer them to have different names to avoid confusion.
However, if you do intend to provide the patches I think it is best to discuss the concrete code anyway.

So do it, and we'll figure out the details!

About uring registered buffers, take a look at uring.rs. There is some code half working there, and placeholders for the ring to provide t

[2020-10-23 13:42] #136 closed

[2020-10-24 01:29] glommer opened #141 "Writes failed if file is bigger than Buffer_size * write_behind"
The commit that changed the write api (f494c5078ddb639d4841555df7c3946d96a1cd5a) has a bug.

The unit tests don't catch it because the buffer size may be aligned up due to Direct I/O requirements, so turns out we have no test currently that writes more than the write behind.

[2020-10-24 01:35] glommer commented on #130
Since you are dealing with files, please take a look at https://github.com/DataDog/scipio/issues/141

It just took me a while to figure this one out.

[2020-10-24 01:39] #141 closed

[2020-11-06 11:23] laa opened #156 "Bug in documentation of local_channel::LocalSender"
Hi,
In https://github.com/DataDog/glommio/blob/master/scipio/src/channels/local_channel.rs#L241 it is written -
```For an unbounded channel this is just a more expensive version of [`send`]. Prefer to use [`send`] instead.```
Probably you meant try_send ?

[2020-11-06 13:07] glommer commented on #156
indeed! Would you like to send a patch to it?

Please note, however, that unfortunately I am not planning to merge anything until I merge https://github.com/DataDog/glommio/pull/155 to avoid creating more confusion =(

But that should be done today.

[2020-11-06 13:31] glommer commented on #156
which is now done. Would be great to have a PR from you!

[2020-11-07 09:45] laa commented on #156
Sure, I am working now on PR for creation of single-thread friendly RW lock. I will finish with tests and probably will do some performance optimizations (I want to remove the hash map and rely only on the queue). After that likely, I will submit more PRs. I asked because was not sure on 100%,

[2020-11-09 08:40] laa opened #160 "Zulip link is broken"
Zulip link is broken. Would be cool to join community back.

[2020-11-09 15:37] glommer commented on #160
Hello.

The new link is glommio.zulipchat.com.

I was waiting for zulip support to change it to update it here, which happened over the weekend.
Will fix now. thanks!

[2020-11-09 15:45] #160 closed

[2020-11-12 21:24] glommer opened #168 "reduce allocations in RawTask"
I have run a profiler today, and top of the list for allocations is `RawTask::allocate`:

[code]

We can make that significantly cheaper with a slab.
Rust has slab crates but I don't like any of them because they are all backed by a vector. That can be horrible for latency
because adding elements can lead to the entire vector to reallocate.

The kernel slab is backed by pages, which is likely what

[2020-11-14 10:35] laa commented on #168
Hi @glommer I do not have enough knowledge yet. Does RayTask always allocate "fixed size" (more a less) chunks of memory or size numbers can vary at a high degree?

[2020-11-14 10:45] laa commented on #168
I mean if that is fixed-size chunks I did a bunch of such things inside of OrientDB. But anyway I am curious to look on this once I have time. But will be also glad if this issue will be fixed earlier too.

[2020-11-14 15:09] glommer commented on #168
`RawTask` has a 3 template parameters. For a single set of template parameters the size is fixed but as they change the size changes too.

The best way to deal with this is a group of  slabs of common sizes. If you are bigger than the max size of the slab you just allocate from the standard allocator. This is not unlike how Linux deals with this.

I do have a concern here:

I tried a quick hack ye

[2020-11-18 20:48] laa commented on #168
Thank you for your explanation will try to help with this issue. But let me investigate code first so I will understand in-depth mechanics of the tasks. I am really curious to see how it all works underneath.

[2020-11-19 01:42] glommer opened #179 "provide a specialized logging macro set"
Rust has the very helpful macros from `log` : `info!`, `warn!`, etc.

It would be helpful to have our own, that would include the executor name or ID on it.
That's because often times executors are all performing the same tasks, only in different parts of the dataset. It is helpful to know where exactly the issues are coming from.

The challenge in this issue is not to implement the macros, but to

[2020-11-19 05:16] laa commented on #179
Hi @glommer . Are you aware about tracing crate https://lib.rs/crates/tracing . Probably would be good to use it and provided concepts alongside with macro wrappers with useful information about executors and so on.

[2020-11-19 07:04] laa commented on #179
I would be curious to take this issue and issue #179. But before I need to be more acknowledged with code and probably will provide more PRs during the investigations. Also, I am very curious about your opinion of using a tracing crate. IMHO structural approach which they use is useful for glommio too.

[2020-11-19 07:04] laa commented on #156
Fixed

[2020-11-19 07:04] #156 closed

[2020-11-19 07:30] laa opened #180 "Implement error system similar too the approach implemented in io::Error structure"
This issue was discussed in community chat. Main issues with io::Error are:

1. Mapping between errors that happened inside the glommio library and presented in io::Errror is fuzzy and can not precisely describe the root cause of the issue.
2. io::Error lacks useful information as for example the path of the file where error happens. The error system should provide means to expose such information

[2020-11-19 13:52] glommer commented on #156
@laa for the future, you can add "Fixes #<bug number>" anywhere in your commit message, and github will automatically close it.

[2020-11-19 14:01] glommer commented on #179
Although obviously familiar with tracing systems in general, I was not familiar with the tracing crate.
I would have to spend more time on it. In particular from an admittedly very shallow first reading on their website their examples focus too much on how to generate the traces, but I would like to have a better idea of the output too and also the cost of generating and keeping the traces until w

[2020-11-24 13:39] laa commented on #180
Interesting reading in the context of this issue https://blog.rust-lang.org/inside-rust/2020/11/23/What-the-error-handling-project-group-is-working-on.html

[2020-11-26 07:56] Ralith commented on #179
FWIW, tracing has pluggable backends, and is intended to be a fairly lightweight facade to promote interop and support diverse applications. How data is recorded and emitted is up to you, though a number of options like the [fmt](https://docs.rs/tracing-subscriber/0.2.15/tracing_subscriber/fmt/index.html) subscriber are available off the shelf.

[2020-11-29 23:42] jefftt commented on #31
hello, since this issue seemed to have staled, i'd be willing to take a stab at it.

@glommer did you have any ideas on how the API should look? i came up with something pretty naive (taking RawFd as input for dir) but unsure if this is sufficient:

[code]

[2020-11-30 03:25] Matthias247 opened #194 "Rust `Waker`s need to be `Send + Sync`"
It is currently not possible in Rust to safely define non thread-safe `Waker`s.  They are defined to be [Send](https://doc.rust-lang.org/std/task/struct.Waker.html#impl-Send) and [Sync](https://doc.rust-lang.org/std/task/struct.Waker.html#impl-Sync), and thereby the `RawWaker`s must fulfill those guarantees.

[This commit](https://github.com/DataDog/glommio/commit/26cd86c2a854ce875b1a6f79ffcdb8ab0

[2020-11-30 03:36] Matthias247 opened #195 "Consider using futures-intrusive"
This crate contains yet another implementation of async channels and semaphores. The implementation here comes with the downsides of the earlier `futures`-like implementation that an [unbounded list of waiting tasks needs to be stored in the sync primitives](https://github.com/DataDog/glommio/blob/035535a61d1d8e9dc3b64cf0044fb8d48a01354e/glommio/src/sync/semaphore.rs#L47-L48).  This has 2 downside

[2020-11-30 06:03] k3d3 opened #196 ""Previously named Glommio""
In glommio/src/lib.rs, the documentation states:

I assume you meant to write Scipio here?

[2020-11-30 07:50] laa commented on #195
Hi @Matthias247 . Thank you very much for the tip. I will look on it.

[2020-11-30 08:04] laa commented on #194
Hi @Matthias247 , thank you for such useful information both for this and the previous issue.  I also was worried by this misconception but did not have time yet to fully investigate this topic. I will definitely check it. That is not a top priority as for now, but IMHO has to be resolved.

[2020-11-30 12:44] laa commented on #194
@Matthias247 I have checked RFC which you linked. We actually already wake up tasks using local reference queue, though this probably is not so obvious from the code. As for executor id, I will do that shortly, so Wakers will not be possible to run on the foreign thread.

[2020-11-30 12:50] laa commented on #194
@Matthias247 I have checked the RFC. So what is proposed by the RFC team is to wake task using thread-local queue and check the ID of the executor by assertion. As for now we already use thread-local queue, so the addition of the assertion check will lead to functionally the same behaviour. I understand that the state of the RawWaker still will be shared, but the addition of assertion guard, which

[2020-11-30 14:16] glommer commented on #194
Thanks for the information @Matthias247.

I would like to see this resolved before we reach the point that I consider glommio production ready. My goal is definitely to play well with the ecosystem at large.

[2020-11-30 14:17] glommer commented on #196
Humm I recall someone sending  a patch for this earlier?

Checking and the comment indeed seem correct on our master branch. Which version were you checking ?

[2020-11-30 14:19] glommer commented on #195
In particular I am *very* unhappy with the fact that we need an allocation for the `Source` of the io_uring operation and was thinking yesterday how we can make that better.

[2020-11-30 14:25] glommer commented on #31
hi @jefftt you would be most welcome.

The API has to be methods of `Directory`. The goal of this API would be to be ergonomic: you already have a directory object, then you create a file inside that directory.

So it would be something like:

[code]

I don't think we should do this for buffered file. All of the advantages of this API that I listed in the description would not apply to buffered fi

[2020-11-30 14:43] k3d3 commented on #196
Oh sorry, I was looking at docs.rs 0.2.0-alpha, as linked from master's readme: https://docs.rs/glommio/0.2.0-alpha/glommio/

My apologies, I should've checked the repo first.

[2020-11-30 14:46] glommer commented on #194
@laa we should be probably looking at doing that to the Executor in multitask.rs, not the main executor, if I understand correctly. The multitask Executor is equivalent to an execution queue for us. It is actually confusing that both are called `Executor`, but I didn't know better back then =) The one in multitask is probably better off called a task queue.

Futures don't really belong to an Execu

[2020-11-30 14:46] glommer commented on #196
No problem.

I didn't think it was worth doing a new docs release just for that. We should be publishing a new version in crates soon once some API issues are resolved.

[2020-11-30 14:46] #196 closed

[2020-11-30 15:06] glommer commented on #194
@Matthias247 I am a bit confused by this. The Future trait methods still expect a `Waker`, and if that doesn't change it has to be `Sync + Send`.

Doesn't that imply that the `RawWaker` has to be `Send + Sync` too ?

[2020-11-30 20:14] laa commented on #194
Hi @glommer the point is the RawTask also does reference counting and making RawWaker Send+Sync equals to making of RawTask Send+Sync. But in reality, if I understand logic underneath correctly we merely need to add assertion guard to the logic.  async-rs does the same. Its RawTasks for a local executor are Sync+Send but because they accept !Send+!Sync Futures they put assertion guard to satisfy t

[2020-11-30 20:28] laa commented on #194
It makes RawTask to be Send+Sync in case of !Send+!Sync future at the sense that it does not generate UB, I suppose the same idea is underneath of assertion guard for the Waker implmentation.

[2020-11-30 20:36] laa commented on #194
@glommer sure, we can try to implement delayed execution of Wake, but we can not put the task into the wrong executor. Which means that we need to do nothing if we call wake from incorrect thread exception of panic of course, Which makes all the rest of changes not needed because of contract violation indicated by panic.

[2020-12-01 05:26] laa commented on #194
Found additional confirmation in the blogpost of the "withoutboats" one of the active contributors of Rust - "The second use case is more interesting. There is one thing that indeed cannot be supported without the API distinction: using an Rc, non-atomically reference-counted task. There are still other ways to implement a single-threaded event loop, however: Using the Task IDs technique instead o

[2020-12-02 09:20] laa commented on #194
I suppose can even protect ourselves by thread id, not by executor id.  The reasoning for that is very simple, we use an implicit reference to the executor to task into the queue, so even if wake will be called outside of the thread-local scope of executor it will not make any damage. I will try both approaches, will check what is faster and will use it.

[2020-12-02 14:20] laa commented on #194
I have tried to use executor id in assertion guard and the numbers of benchmarks (all of them, but I was mostly interested in semaphore and channel benchmarks) are slightly slower and lie in the range of statistical mistake. Sometimes numbers for the implementation with executor-id guard even better. I will send PR soon.

[2020-12-03 07:04] zserik commented on #7
Some SSDs (e.g. `Samsung SSD 860 EVO`) return a sector size of `512`, althrough I would guess that an alignment of `4096` might be more optimal anyway. So writes should always be aligned to `4096` if the device isn't `rotational`.

[2020-12-03 07:34] laa commented on #7
@zserik glommio does not support rotational devices. But still, why this number is more optimal, could you elaborate more?

[2020-12-03 07:39] zserik commented on #7
Most SSDs, probably including `Samsung SSD 860 EVO` use an internal sector size of `4096`, but some do support `512` aligned writes, althrough these may be suboptimal because they put more pressure on the FTL and could wear the device faster, I suppose.

[2020-12-03 12:21] laa commented on #194
I have experienced a random crash on a single run of bench task. Probably not related to the change, but I am running Valgrind to be sure that we do not have memory leaks or unsafe deallocations.
Meanwhile results of benchmarking:

[code]

[2020-12-03 12:36] laa commented on #194
About the current benches. Thear are bit too simple. Only single run, no warm up cycle.  No stats as result. The best performance tool I have seen is the one embedded in latest versions of JDK. I would try to find similar one in Rust ecosystem and propose the change.

[2020-12-03 13:51] glommer commented on #7
I think we should always align writes to 4096. There is very little point in practice of doing small writes.

The device alignment is more important for reads.

[2020-12-03 14:07] glommer commented on #194
I agree the benchmarks are too simple, but I was not very happy with any of the other rust tools for that and I was not about to write my own =)

In particular I looked at criterion. I found it not really that good for asynchronous operations, and because the operations we are measuring are too short (in the order of magnitude of a clock measurement) I found the results to be wildly different betw

[2020-12-04 12:01] zserik opened #204 "The `executor::test::test_ping_pong_yield` seems to randomly fail"
Sometimes, the `executor::test::test_ping_pong_yield` fails with `assertion failed: counter.get() < 10`, but if rerun, it succeeds.

[2020-12-04 12:11] glommer commented on #204
This is one of the flakiest tests we have because it is very subject to noise from the environment. I put some work in making it more robust and the conditions more lax but I fear that if we make it any more lax we'd be better off removing it altogether.

The newer tests for static and dynamic shares probably cover this condition well enough -- do they pass for you?
If they are not flaky I am cons

[2020-12-04 12:28] zserik commented on #204
No other tests seems as flaky as the `executor::test::test_ping_pong_yield` test.

[2020-12-05 10:42] zserik opened #206 "Clean up stale and merged branches"
See also: https://github.com/DataDog/glommio/branches/all

[2020-12-05 12:09] thirstycrow opened #207 "The `echo` example does not work"
OS: Ubuntu 20.04
Kernel: 5.6.17-050617-generic

The `echo` example hangs after printing the first line. After retrying a dozen of times, it starts to panic at initialization. And every glommio application failed to start because of the same reason. Have to reboot to make them work again.

[code]

[code]

[2020-12-05 16:24] zserik commented on #207
The function on whose result `.expect` (in `glommio::parking::Reactor::new`) was called on was [`glommio::sys::Reactor::new`](https://github.com/DataDog/glommio/blob/0ad502549b064486b5cf5bebc6fd46e44e0f60f9/glommio/src/sys/uring.rs#L920)

[2020-12-05 21:39] zserik opened #208 "Regularly merge the `iou` and `uring-sys` forks with upstream"
The https://github.com/glommer/iou and https://github.com/glommer/uring-sys forks should be, if possible, regularly merged or rebased against the upstream crates to prevent an eco-system deviation/split.

[2020-12-05 21:44] zserik commented on #207
With OS: 5.9.11-gentoo, glibc-2.32
The `echo` example seems to regularly deadlock shortly after the second part "on 5 connections" starts. Sadly, I wasn't really able to debug this. It seems to hang on two parallel syscalls to `io_uring_enter` (the main thread just blocks on `join`).

[2020-12-06 00:06] glommer commented on #208
I agree, and every patch I have in my branch is sent upstream first.
However we depend on unreleased versions of liburing, so until Jens make new releases of liburing that has the code we need in the C layer (that I also added into liburing upstream), we can't really merge.

I am closing this because although a valid issue, I am already tracking and there isn't much we can do at the moment

[2020-12-06 00:06] #208 closed

[2020-12-06 00:06] glommer commented on #206
Agree, thanks for noticing - and it is done

[2020-12-06 00:06] #206 closed

[2020-12-06 00:10] glommer commented on #207
the memory issue is likely due to low ulimit as described in our docs page: https://docs.rs/glommio/0.2.0-alpha/glommio/

@thirstycrow : please let me know if increasing the ulimit works for you. That is unfortunately one sad thing about the uring-based ecosystem now, because most distros have very low defaults. I believe eventually they will catch up.
Also try to drink some water, at least myself

[2020-12-06 03:48] thirstycrow commented on #207
The limit for locked memory was already large enough on my laptop.
[code]

When I set it to 512,  the number of tries to reproduce the memory allocation issue is reduced to 6.

[2020-12-07 07:37] laa commented on #207
Echo example hangs on my side too :-( Will try to check this week why that happens.

[2020-12-07 08:07] thirstycrow commented on #207
Upgraded the kernel to 5.7.1, and the memory allocation problem does not happen again. But the application still hangs. I added logs for connection on both server and client side, it reveals that on the server side subsequent connections after the first one are not received.

[code]

[2020-12-07 10:17] zserik commented on #207
I think it might be possible that `.accept()` should be called sequential in the `echo` example.

[2020-12-07 13:42] laa commented on #195
I have checked the code (not in all details though) and I suppose I will borrow the concept, not the library itself. There are a couple of reasons:
1.  Glommio has bigger a set of primitives then `futures-intrusive` and some more will be added.
2.   'futures-intrusive' and `glommio` have different design goals which intersect only partially. That may lead to different and contradictions design dec

[2020-12-07 14:30] #31 closed

[2020-12-07 15:05] glommer commented on #207
accept is sequential already. Because all those tasks are spawn in the same executor, and due to our thread local model that executor always lives in the same CPU, they can't possibly be parallel.

They are concurrent -> but not parallel.

[2020-12-07 15:23] #204 closed

[2020-12-08 06:12] laa commented on #130
I suppose in this context would be better to implement AsyncBufRead trait. And introduce similar AsyncBufWrite, AsyncBufWriteExt traits. The last ones are discussed to be introduced. The main advantage is that they represent IO tools which manipulate buffers itself and avoid the double copy of data, instead of AyncRead and AsyncWrite which accept external buffers and as result make a double copy o

[2020-12-08 07:39] thirstycrow commented on #207
I added some log for uring, and it seems that some waiters get lost.

[code]

[code]

[2020-12-08 07:49] thirstycrow commented on #207
It seems only a single waker is allowed for the moment
https://github.com/DataDog/glommio/blob/master/glommio/src/sys/uring.rs#L657-L660

[2020-12-08 08:25] zserik commented on #207
@thirstycrow ok, that is definitively a bug. cc @glommer

[2020-12-08 13:52] glommer commented on #207
Ok, I think I know what's going on. We have recently moved to a one-waiter-per-source model because most of our operations do not reuse the source.

But the networking ones might.

Please let me know if reverting this helps:

c5d38f8792c67f056a39062faa970f1cf68028a7

For context, I will make it clear here in case you haven't seen that somewhere else (cc. @thirstycrow ) but the networking APIs were

[2020-12-08 13:54] glommer commented on #130
That seems like a good starting point.

[2020-12-08 15:14] thirstycrow commented on #207
I like the one-waiter-per-source model. It's necessary for things like multiplexing. For TcpListener, I would suggest create a source for each invocation of `accept`, or make `accept` mutable to avoid concurrent invocation at all.

[2020-12-08 15:24] glommer commented on #207
That's indeed the direction I want to go, but if this patch broke networking for now, I'll prefer to revert it and reapply it when the networking API is prepared to have it - with tests.

Just let me know, thanks!

[2020-12-08 18:07] bryandmc commented on #180
I personally think a good pattern for a library like this could involve using `thiserror` from dtolnay that makes creating ergonomic, library errors much easier. Basically it lets us define one error type for this library (so that users of this library can work with a single type) and multiple enum variants for all the different error cases. It also makes it easier to encapsulate the `source` erro

[2020-12-08 18:33] glommer commented on #180
hello @bryandmc

That looks great to me. My main concern is that I'd like to make sure that this interops well with `io::Error`, because that is everywhere : one good example is the Async I/O traits.

That means not only being able to convert, but keeping meaningful messages and causes whenever possible.
In other words, something that resembles a "Bad File" in Glommio should translate to "Bad File

[2020-12-08 19:35] bryandmc commented on #180
@glommer That shouldn't be a problem. It can preserve and entire chain of "source" errors. Meaning it can hold the `io::Error` that caused the error in the first place, along with other information. I'll take a look at the current code base and see how it'll fit in. That said, I think we can accomplish your goals with this pretty easily.

[2020-12-08 19:49] glommer commented on #180
our goals!!

I am more concerned about others that aren't originally `io::Error`. See for example the ones in `sync::rwlock`

[2020-12-08 23:10] thirstycrow commented on #207
After reverting the commit, the example can finish, but with serious performance hit.

[code]

[2020-12-09 14:10] zserik commented on #207
@thirstycrow I think the perfomance difference of `cargo run --example echo --release` would be more interesting.

[2020-12-09 14:21] glommer commented on #207
FYI: I intend to post patches for native accept / connect between today and tomorrow that should fix this so I'll try to go that route. If that takes me too long I'll consider reverting the patch

[2020-12-10 02:10] glommer opened #214 "source reuse is possessed by the devil"
Technically we should be able to reuse a `Source` by taking its results and adding a new `SourceType`.
I did that for timers in commit 4c6460fdb30721a7ecf5c1e5637b580a60eec406.

However that had to be reverted because it regressed heavily the shared channel benchmark.

Lo and behold, I spent an entire day of my precious life today with a problem that I eventually tracked down to the same thing:
Wh

[2020-12-10 02:11] glommer commented on #207
Ok, I got severely delayed by https://github.com/DataDog/glommio/issues/214

But it's on track now, I believe

[2020-12-10 17:52] vladzcloudius commented on #214
![Alt Text](https://tenor.com/view/cute-sad-tears-gif-4544076.gif)

[2020-12-10 22:15] glommer commented on #194
@laa is this fully fixed by #210 or is there anything else to do ?

it seems to me that yes, but github didn't like the way you wrote the fixed string so didn't close this

[2020-12-10 22:15] glommer commented on #194
I am closing now manually because it seems to me this was your intent. If anything is still missing let me know

[2020-12-10 22:15] #194 closed

[2020-12-11 08:23] thirstycrow commented on #207
@glommer There's 25% performance difference between the tcpstreams and master in the 1 connection case. But with 5 connections tcpstreams is slightly better. Why?

master branch with @zserik's fix
[code]

tcpstreams
[code]

[2020-12-11 12:14] zserik commented on #207
@thirstycrow Can you check with my patch + tcpstreams via io_uring? I moved the place where `accept` is called to a sequential location, I think that may matter...

[2020-12-11 12:26] laa commented on #194
Hi @glommer, yes, that is already closed. I have GMT +2 timezone so can not answer shortly sometimes.

[2020-12-11 14:25] glommer commented on #207
hello @zserik I'd have to investigate the performance difference. My guess is that this is due to the speculative path (yolo path)
With 5 connections we likely will hit the io_uring path more often and improve batching, but I'd have to check.

FWIW I didn't see a big difference in the ping pong case of the benchmark, and that matters more.

[2020-12-11 14:37] glommer commented on #207
quick update: I have run this locally so I can investigate. I definitely see a difference so I'll go with that, but it is more like 6%, not 25%. Your is also 2x as fast as mine in general, so it's probably due to a processor difference

[2020-12-11 14:41] glommer commented on #207
another possible explanation for the difference is the source allocation issue. The version in the master branch does not allocate sources for every operation.

[2020-12-11 14:59] glommer commented on #207
ok, it's a bit more mundane than that:

There is no yolo-path in fill_buf.

If you resort to the normal `AsyncRead` API instead of `AsyncBufRead` it is then faster than what it was before.
That also explains why I didn't see this in the benchmark, since the Benchmark reads `AsyncRead`.

`fill_buf` is indeed better suited for large buffers, and this example is a byte ping-pong. Still it would be go

[2020-12-11 14:59] glommer commented on #207
and thanks a lot for testing!

[2020-12-11 19:18] glommer commented on #214
I have found out that this is because we keep registering new timers under new IDs, but when time comes to cancel the previous timer, we always cancel the timer with ID = 1.

But I don't yet know why this is the case.

[2020-12-11 19:31] glommer commented on #214
Ok. Debugging this I realized that Source reuse is fundamentally broken because of cancellation:
A Source represents one event, but if it is cancelled and reused it can be in two states at the same time.

One of them will be missed, and that is what leading to those storms.

We should invest in slab-techniques to make grabbing a source from a source pool cheaper, but they can't be reused in place.

[2020-12-11 21:57] #214 closed

[2020-12-12 03:04] #207 closed

[2020-12-12 12:01] zserik opened #220 "Unresolved doc links"
I ran `cargo doc` against `glommio` and it returned 5 warnings:
[code]

[2020-12-12 13:44] glommer commented on #220
Thanks. Do you know if there is a way to make those fatal? I would like to catch those at CI time

[2020-12-12 13:51] glommer opened #221 "Implement native support for UDP"
Same as we did for TcpStream recently, we can benefit for an UDP implementation as well.

A good contribution will come with tests and a benchmark. A comparison with tokio as we did for TCP is welcome as well.

[2020-12-12 13:53] glommer opened #222 "Implement native support for Unix Sockets"
A good implementation of this should likely reuse code with Udp and TcpStreams but that will not be mandated.

Tests and benchmarks are important

[2020-12-12 14:05] glommer opened #223 "Improve the Tcp benchmark to show multi-executor performance"
The "bandwidth over 100 sockets" test is only able to use two threads. Therefore it will not scale as well as Tokio and other frameworks. This is totally fine because a real application should use more cores but it would still be nice to see that scalability in the benchmark.

Aspects to consider when dealing with this:
- Is it better to have separate executors for accept or have an accept + conne

[2020-12-12 14:31] #220 closed

[2020-12-12 15:15] #76 closed

[2020-12-14 21:15] laa commented on #195
@glommer sorry but I suppose this issue should be reoponed because it is not completely fulfilled. Rc type is boxed, so there are still some allocations once futures are paused. I will try to provide Rc-free versions in 2-3 days.

[2020-12-15 15:27] glommer opened #229 "Asan not returning cleanly"
@laa hit this recently, but our `cargo test` with asan does not return cleanly.

Command line:
[code]

with flags:
[code]

They seem all related to `Rc` / `Arc` lifetime but some will be tricky to fix
In particular, the way those dependencies are usually broken is by moving things to `Weak`. But we don't want to do this with the `Arc` we use for eventfd: passing a `Weak` pointer would make us have

[2020-12-15 15:59] glommer commented on #229
Ok, I think the biggest issue is that `file` now has a reactor copy inside. That should have been a `Weak` copy.
We'll face the same issue with `timers` and `tcp_streams` but it should be mostly a mechanical fix

[2020-12-15 16:53] glommer commented on #229
https://github.com/DataDog/glommio/pull/231 handles most of those cases. Some tests still report leaks, and I don't know at this moment why. But the PR should make the situation better.

[2020-12-16 12:45] laa commented on #168
Hi, @glommer could you assign this issue on me, I am going to start it shortly?

[2020-12-16 20:22] #229 closed

[2020-12-16 21:17] laa commented on #229
Asan reported on the latest commit:

[code]

[2020-12-17 08:50] zserik opened #237 "What is the recommended way to distribute requests across multiple threads?"
This is probably mostly a documentation thing... The first question that comes to my mind when thinking about building a server with TPC design and glommio is: how should I distribute requests across multiple threads (probably via channels)?

There are probably three different approaches to this:
1. Spread accepted TCP connections across threads/executors (this is possible using `glommio::net::Acc

[2020-12-17 13:55] glommer commented on #237
tl;dr: I am 100% onboard, but I don't think we should rush to a solution.

Connection balancing was by far one of the biggest issues in seastar applications, so I fully agree we need to have a good story here and I am very open to ideas.

One thing to keep in mind is that the receive path for thread-per-core applications is really tricky if you are chasing optimality: It doesn't matter what you do

[2020-12-17 17:23] glommer commented on #229
this happened now to me too, but only while running the docs.
`--lib` finishes cleanly

Will investigate.

[2020-12-17 18:54] glommer commented on #229
This should "fix" it:

https://github.com/DataDog/glommio/pull/238

The problem still exists, and to the best of my knowledge it comes from the executor dying with tasks that are not ready.
I will open an issue about that with what I found but I don't quite know what to do to fix that now. @laa maybe you will end up solving it by happenstance when you touch the allocators. If not we'll see

[2020-12-17 18:54] glommer commented on #223
See issue #237 from @zserik

[2020-12-17 18:55] glommer commented on #221
Done, although some options were not yet implemented. Will open a separate issue for them

[2020-12-17 19:10] glommer opened #239 "timer may not be destroyed if not yet fired when executor is destroyed"
The following code gets ASAN screaming at us:
[code]

Note how we create a `TimerActionOnce`, but because we never join it the executor exists right away.
The timer within never fires, and its `Drop` function is not called either. So we leak the timer memory.
I added debugging information to the task queue's drop: indeed when we are dropping this we have zero tasks in the task queue.

The timer, h

[2020-12-17 22:55] bryandmc commented on #237
Work stealing is the approach used by all the other major rust async runtimes. That, in some ways, is the reason why I think there's massive advantage in not necessarily falling down that same hole. You could even implement a similar idea to work-stealing (except its more like, "work diverting" than stealing) using ebpf and REUSPORT. Though I agree with @glommer that having that be more user-defin

[2020-12-18 04:03] thirstycrow opened #241 "Program hangs"
[code]

[2020-12-18 14:15] glommer commented on #241
Ack, reproduced locally.

FWIW, this works:

[code]

Your code seems fine to me, but just a bit of reasoning and internals about what could be happening:
`run()` is special (I don't necessarily like that) because code you run in run (pun intended) doesn't belong to any task queue so there are things that you can't do (like yield). In your case you are spawning tasks and that should be fine. I have

[2020-12-18 14:37] #221 closed

[2020-12-18 14:39] glommer opened #243 "Advanced options on networking are not exposed, but should be"
If we look at the API defined by `net::TcpStream`, `net::UdpSocket`, and others there are many options we are not implementing (setting timeouts, multicast, etc).

They shouldn't be hard to implement -> essentially just passing options down sockets, but I will require that they come with unit testing unless it is really not possible to.

[2020-12-18 14:51] #195 closed

[2020-12-20 20:37] zserik commented on #73
As a first step, we should align read requests, and if then two requests are exactly the same, we should merge them into one, which returns the result to two requests with different wakers... This requires the functionality to distribute request responses.

[2020-12-21 16:47] #222 closed

[2020-12-21 16:47] #30 closed

[2020-12-23 03:03] #241 closed

[2020-12-23 03:04] glommer commented on #241
@thirstycrow this is fixed now.

Have a fantastic new year!

[2020-12-23 10:01] thirstycrow opened #247 "Question on dma buffer allocation"
Is it guaranteed to success when allocating a dma buffer? Is there a size limit for the dma buffer? And how would it go with memory pressure?

https://github.com/DataDog/glommio/blob/master/glommio/src/sys/uring.rs#L626

[2020-12-23 15:51] glommer commented on #247
Buffers will be allocated through the system allocator if the io_uring memory is exhausted. Guarantees will be the same as the system allocator. Based on my understanding of the standard allocator you should only see a failure if you exhaust your virtual memory address space.

There is no size limit and no memory pressure mechanisms. I am not a big believer of those things living in the library la

[2020-12-23 19:56] zserik opened #248 "Add a collection of introduction articles"
(documentation issue, [zulip reference](https://glommio.zulipchat.com/#narrow/stream/262273-general/topic/Left-over.20'scipio'.20.22reference.22/near/220821540))

A few articles about glommio are already published. The most basic ones should be probably collected, so that it is easier to find informations/reasoning (mostly) about the architecture of glommio.

Proposal:
* https://itnext.io/modern-s

[2020-12-25 04:47] thirstycrow commented on #247
@glommer Thanks for the explanation! I'm going to add a semaphore to limit memory usage. However, allocation failures may still occur theoretically, if the system memory is highly segmentized and the allocated buffer size is large. So, I hope the allocation method would return a result instead of panic, so the failure could be handled by the application.

[2020-12-25 20:13] zserik opened #249 "DmaFile: provide a `create_new` method"
The `create_new` method should work similarly to [create_new](https://doc.rust-lang.org/std/fs/struct.OpenOptions.html#method.create_new).

Alternative: provide a `DmaFileBuilder` struct with a `create_new` method.

[2021-01-04 14:36] glommer commented on #247
In my experience, there is no reason to believe that allocation failures will be localized to buffer pools - even if they are the cause of memory pressure.

For example, you can have a very unhealthy overuse of buffer memory that fragments memory so much that makes a statement like `let a = Rc::new(Foo::new())` fail as you can't allocate enough memory to fit a `Foo`. And we cannot for sure recover

[2021-01-04 14:36] #247 closed

[2021-01-04 14:37] glommer commented on #249
I see you are suggesting a PR for that . I will take a look soon, and happy new year!

[2021-01-05 17:14] #248 closed

[2021-01-07 15:24] glommer commented on #180
Bryan handled this one - #227

[2021-01-07 15:24] #180 closed

[2021-01-14 14:27] #249 closed

[2021-01-18 21:24] digikata commented on #7
4096 is a pretty reasonable default because that's almost certainly going to be the memory page size allocated by the kernel for by network linked storage transfers. In particular, SSDs may  may have even larger sizes that they consider optimal, so the option of sizing them to something other than the default would likely be interesting later for performance tuning.

[2021-01-21 08:51] thirstycrow opened #261 "Shared channel benchmark fails/hangs with probability"
I wrote a benchmark for shared channels, which has a probability to fail with `free(): invalid pointer`:

[code]

It also has a probability (lower than that of freeing invalid pointer) to hang:
[code]

Code for the benchmark:

[code]

[2021-01-21 09:29] thirstycrow commented on #261
By moving the time measuring code inside the spawned task, as glommio's shared channel benchmark does, the freeing-invlid-pointer problem disappear, and the probability of hanging problem reduced.

[2021-01-21 12:33] glommer commented on #261
Thanks for the reproducer ! I will take a look soon

[2021-01-21 14:01] glommer commented on #261
Is the code above the version with higher or lower probability or reproducing ?

[2021-01-21 14:42] glommer commented on #261
I ran this with the LLVM thread sanitizer and the output is not very useful. It claims there are data races inside the buffer accesses, but the places where it complains about are properly wrapped in Atomics.

@zserik - you touched the shared channels recently so tagging you just in case you have any idea.

[2021-01-21 23:37] glommer commented on #261
Hi - this is to let you know that I don't yet have a solution for this but I am working on it.
I am convinced that the problem lies with the eventfd registration. This code in `BufferHalf::must_notify` isn't really thread safe. Here's an (unconfirmed) theory of how that might be:

[code]

If I remove this code and just returns `None`, then I can no longer reproduce the memory issue.
There aren't a

[2021-01-22 04:19] thirstycrow commented on #261
It seems to be the exact cause for the memory issues. I'm now walkround it by commenting out the eventfd clearing statement in the `disconnect` methods, and it works without `spin_before_park`.
[code]

However the hanging problem is still there, with very low probability to occur. Have to reproduce it with a loop.

[code]

[2021-01-22 10:14] thirstycrow commented on #261
I added some log in ConnectedSender and ConnectedReceiver:

[code]

[code]

Here is some last lines printed before the benchmark hangs:
[code]

[2021-01-22 11:37] thirstycrow commented on #261
From the log, I found `ret` in `must_notify` changes from time to time. But it should always be the same, right? Since there is only one sender/receiver.

[code]

[2021-01-22 13:26] glommer commented on #261
Right, so if you don't use `spin_before_park`, the hangs are expected. That is because the notifier system is what wakes up the reactor if it goes to sleep. Without it, the reactor may sleep, and nobody will notify it.

I have the sketch for a solution for this problem. Unfortunately it will require an API change for the `connect` function, which will now return a future: we'll have to wait for th

[2021-01-22 20:52] glommer commented on #261
I just sent a PR for this.
Notice that as I said, you now need to `connect().await` your channels instead of `connect()`. I really don't see another way
to fix this while maintaining the overall architecture sanity.

Because I haven't released the current version on crates yet (waiting for a liburing release, which is a semi-blocker), I haven't bumped the semver for this.

Should be merged soon, b

[2021-01-22 21:47] glommer commented on #261
One comment about your benchmark, btw: Creating an destroying executor is very expensive! You are measuring that as well in the cost of your shared channel

[2021-01-25 03:34] thirstycrow commented on #261
Is it still necessary to use `spin_before_park` to with #263 ? There's still a chance to hang without it.

[2021-01-25 14:43] glommer commented on #261
no, `spin_before_park` should not be necessary. How often can you reproduce it ? Locally all my attempts passed.
I will consider adding debug code in that branch, then

[2021-01-25 14:53] glommer commented on #261
`spin_before_park` is an optimization: because sleeping is expensive, you may choose to spin a bit waiting for new work to arrive before declaring your reactor idle. It's a good practice to have it (although it will increase your CPU utilization), but should never be necessary (unless there is a bug, like in this case)

[2021-01-25 22:37] #261 closed

[2021-02-03 06:46] laa commented on #239
Hi @glommer , I have fixed this problem in this PR https://github.com/DataDog/glommio/pull/258 . So I suppose you can close it.

[2021-02-03 13:13] glommer commented on #239
thanks!

[2021-02-03 13:13] #239 closed

[2021-02-04 03:41] page4 opened #269 "shared_channel is destoryed with pending wakers alive"
A test is as as following.

[code]

[2021-02-04 13:35] glommer commented on #269
Thanks. Just setting expectations that I may not get to it this week as I am semi-off

[2021-02-08 14:20] glommer commented on #269
Hi,

What behavior would you expect from this?
The future that generated the waker is being dropped so it is not there to receive the wake.
In this case, what's wrong with dropping the connection wakers?

[2021-02-09 03:36] page4 commented on #269
The wakers are not dropped before unregister_shared_channel is called.
It will make a panic in
[code]

[2021-02-10 15:09] glommer opened #270 "error information is lost"
Part of the information we encode in errors is lost when we print them.

Take for example this:
[code]

This very helpful message was supposed to tell us how much we are reading, by how much we failed, etc.

However due to the way we are implementing `Display` for `GlommioError`, the only information that make the output is:

[code]

[2021-02-10 15:09] glommer commented on #270
@bryandmc can you please take a look ?

[2021-02-10 21:08] glommer commented on #269
Ok. thanks!

There is some heavy shared channels activity right now going on at https://github.com/DataDog/glommio/pull/268 which is taking most of my time. I should get to this soon. I see the problem now.

[2021-02-10 21:44] glommer commented on #269
https://github.com/DataDog/glommio/pull/272 should fix it.
As I said, If there is nobody waiting best we can do is destroy the collections that hold the notifications.

Let me know if that fixes it for you

[2021-02-11 11:12] page4 commented on #269
It looks good. Thanks.

[2021-02-11 11:12] #269 closed

[2021-02-12 19:01] laa commented on #73
Hi @glommer , what do you think is close enough in this case? The first assumption could be that close enough means one-page size. But still, file storage is slower than memory, I would say that distance of four pages (by default with the ability to change by the user) between requests could be close enough. WDYT?

[2021-02-12 19:08] glommer commented on #73
This will vary from device to device. Usually if you consider a 4kB page, if something is in the next page it might still be worth grabbing. So I'd say 8kB is a decent initial distance.

[2021-02-12 19:56] laa commented on #73
@glommer I suppose would be better to measure in pages, not in Kb. WDYT? In such terminology near enough is 2 pages. I suppose thinking in pages is better because 1-page distance always will be close enough.

[2021-02-12 20:00] glommer commented on #73
pages is an OS / memory concept. It doesn't necessarily translate to device properties.
There are devices for which larger transfers will be better, and there are devices which are okay with smaller transfers
(you can estimate that by dividing the peak bandwidth of the device by the peak iops)

[2021-02-12 20:02] laa commented on #73
I mean the size of the device page, you can not read less than the size of the device page. So 1 page is close enough. Sure we can not say that all two reads are read from the single page but that is a reasonable assumption. Or did I miss something?

[2021-02-12 20:13] laa commented on #73
We already have a notion of the page in DMA file, is not reasonable to extend it for this feature too ?

[2021-02-12 20:23] laa commented on #73
After some time of thinking probably I got what you mean. Probably the distance in bytes would be better.

[2021-02-16 05:40] bryandmc commented on #270
Yeah I'll look at it as soon as I get back tomorrow it's probably an easy
fix. Just gotta tweak the display impl as you suggest.

-Bryan

On Wed, Feb 10, 2021, 5:10 AM Glauber Costa <notifications@github.com>
wrote:

[2021-02-17 21:59] bryandmc commented on #270
Ok so after looking at this I'm starting to think maybe it's worth just getting rid of `thiserror` and doing our own display impl's manually instead of contorting this library to do it. We already did our own impls for other things that it would sometimes offer as well because we had more specific needs so I'm just gonna do that. Bonus: we get to remove a dependency!

[2021-02-25 19:47] #270 closed

[2021-02-25 21:02] bryandmc opened #283 "produce new docs + crates.io releases regularly"
We should consider a mechanism to release Glommio more frequently.. Maybe this exists and I am just unaware, but I am updating the readme because I noticed something out of date and realized that the only version on crates.io is kinda old, or at least older than what is living in master right now. Obviously it'll become more important later to be more careful with releases (post 1.0) but right now

[2021-02-25 21:14] glommer commented on #283
releasing while `iou` and `uring-sys` are git-based is an enormous manual pain in the ass process.
We use git for those because they depend on patches to liburing that are not on released versions (although they are. merged upstream).

Axboe has been promising me a new release for months now, and I know he's busy so this is kind of just slipping, which is why I keep delaying our update as well (al

[2021-02-25 21:26] sehz commented on #283
What about creating separate org for `glommio`  with `iou`.   Since Axboe doesn't seems to have time, the new org can maintain both repo and attract more developers?

[2021-02-25 21:34] bryandmc commented on #283
well Axboe would be involved in the underlying `liburing`, but your point about `iou` being forked and maintained by us is plausible and interesting..

Yeah this is all pretty complex and I see a number of different paths. I guess we have to determine if we think `uring-sys`/`iou` will ever start being maintained again, or not. If not, it might be a good idea to just fork it or see if he'll hand i

[2021-02-25 21:38] glommer commented on #283
@sehz Axboe maintains liburing, the C library. He's extremely active, and liburing gets a lot of developments and patches.
It's the releasing that has been slow. However that is not a big problem: if we controlled uring-sys, we could apply patches manually.

`iou` and `uring-sys` are indeed maintained by @withoutboats and are rust projects. He's been resistant in the past to merge liburing patches

[2021-02-25 21:50] sehz commented on #283
There are now multiple implementations of  `io_uring`.   Any opinions on https://github.com/tokio-rs/io-uring which doesn't seems to have explicit dependencies to Tokio yet.

[2021-02-25 21:54] glommer commented on #283
io_uring is a very fast moving target in the kernel. And liburing is maintained by the same person who maintains the kernel. In that sense I view using liburing as a good thing, not something I want to avoid.

We should think about what to do with `iou` and `uring-sys`. Forking is always a last resort, but if we were to fork those the problem is gone: we wouldn't need to wait for liburing official

[2021-03-02 20:21] bryandmc commented on #179
I would really love a solution for this.. I think it's valuable to have some instrumentation we can tap into akin to the logging/tracing facades. So how can we move this forward? Is it worth trying tracing, or starting from scratch..? Should we look into using ebpf to trace/log/metrics? Not 100% sure what that would end up looking like.. To be fair to the tracing library, there are nonblocking sub

[2021-03-02 20:23] glommer commented on #179
The main blocker for this has been lack of time on my end, as I am focusing on other issues right now. If someone wants to move it forward, that'd be great.

The solution proposed, of using the tracing crate with a default simple facade seems like a good starting point to me

[2021-03-02 20:27] bryandmc commented on #179
Yeah cause I'm willing to do the leg work, but I did want some input on what we end up using/creating.. To clarify that I'm intending on working on this, just wanna gain consensus on method. Cause there's pretty divergent paths we could go down. I'll look a little deeper into the tracing library and see if anyone else has strong feelings about it.

[2021-03-03 02:22] glommer commented on #283
I just merged `iou` and `uring-sys` into glommio. We can release now.

I'd be slightly more comfortable with a released version of liburing, and Axboe and I are chatting on twitter about this - it should come really soon. I'll cut right after.

[2021-03-05 03:27] glommer commented on #283
Please consider reviewing the following:

https://github.com/DataDog/glommio/pull/291

I am cutting a release Sunday night (EST). If there is anything else you'd like to see in this release, let me know

[2021-03-08 03:20] glommer commented on #283
This is now done

[2021-03-08 03:20] #283 closed

[2021-03-11 08:28] qiujiangkun opened #294 "MacOS support or fallback?"
It would be nice to develop with my MacBook. Are there any plan for a fallback on MacOS?

[2021-03-11 14:32] glommer commented on #294
hello!

I would not be opposed to that and would be willing to accept patches, but there are no plans for that at the moment due to other commitments

[2021-03-14 10:36] laa commented on #168
Hi @glommer . Unfortunately, I have to spend my spare time on my own AI-related project. So I can not continue with this task. May be I will be back later. It was a joyful experience to contribute to this project.

[2021-03-15 13:25] glommer commented on #168
Thanks a lot and don't worry @laa you're always welcome here!

[2021-03-16 03:48] qiujiangkun commented on #32
I'm working on my own project with similar issues. Hope it would give you some tips. Later on I'll be working on this as part of my job.
My project has to support both x86 and aarch64, both MacOS and linux.
`hwloc2-rs` does not compile on MacOS or aarch64 unfortunately, so I designed a CoreAllocator trait(only needs numbers). e.g a DummyAllocator that does not bind to cores, a SmartAllocator that

[2021-03-17 18:57] glommer commented on #243
Timeouts are now implemented for sockets. The issue is still open because it is mostly an umbrella issue. There's still work to do, especially around Udp.

[2021-03-17 19:06] bryandmc commented on #294
It's tricky cause io_uring is so core to the crate, and you'd have to complete replace that stuff with whatever mac uses and it might be a very different model. So it would be challenging.. that's for sure. I suppose you could use `mio` or something like that to generically do async io but even the file io would require extra threads to work most likely (somewhat of a deal breaker for a TPC framew

[2021-03-19 07:46] artemyarulin opened #301 "High CPU usage for DMAFile vs BufferredFile"
For some reason using DMAFile + DMAStreamWriteBuilder consumes 100% CPU while running the following simple code. Same code with BufferedFile + StreamWriterBuilder is not even noticeable.  Am I doing something wrong?
[code]

I'm using v0.3.1, kernel `5.8.0-45-generic #51~20.04.1-Ubuntu SMP` and disk with ext4 fs:
[code]

[2021-03-19 11:07] artemyarulin commented on #301
Hm, could it be because of `spin_poll` - we don't park the rector and spin the thread while waiting for new tasks to come. So `spin_before_park` should control that, but setting it to different values doesn't change the output much

![image](https://user-images.githubusercontent.com/6191712/111770362-fe7b9400-88b2-11eb-8012-580c0e2efd38.png)

[2021-03-19 11:50] artemyarulin commented on #301
Actually ignore previous message - it wasn't the release build plus by default we don't spin the reactor
![image](https://user-images.githubusercontent.com/6191712/111775365-55846780-88b9-11eb-9aa9-453b226175cb.png)

[2021-03-19 13:30] glommer commented on #301
It's unlikely that `spin` is the problem here. The way you created your executor, it should not be spinning (the default is to sleep).

You are issuing 100MB at once, which is quite a lot. Does that still happen if you submit less, like 100kB? I don't expect that to be relevant but maybe we're hitting some allocation issue.

[2021-03-19 13:50] artemyarulin commented on #301
Nope, doesn't change anything, tried on master as well. Weird though that using `BufferredFile` CPU consumption is almost unnoticeable regardless how big is the data chunk
[code]

[2021-03-19 14:03] glommer commented on #301
Have you checked the CPU consumption in other cpus, and compared the time both variants take to run to completion?
I have checked this locally just to make sure we're not doing something weird. Long story short, I won't discard something specific to you setup right away, but at least locally for me, what's going on is totally normal and healthy.

In summary:
- when you do Direct I/O, you pay the w

[2021-03-19 20:13] artemyarulin commented on #301
Thank you for such a detailed explanation - didn't know about it. Tried to change buffer size and run app many times and still sys time for buffered read is a way smaller on my machine. Although tried same code on a fresh AWS instance and there can confirm that Direct I/O is a way faster and consumes less CPU.

Could it be somehow related that I have regular SSD (max 250MB/s write) and both Buffer

[2021-03-19 20:13] #301 closed

[2021-03-22 06:29] artemyarulin opened #303 "Shutdown all executors API"
What do you think about some kind of shutdown all executors API/hook/event/etc?

It's for sure possible to do everything manually and most probably every app would have very customized shutdown behavior, but I guess glommio can simplify things a bit.

Just first random thought that came to mind - have `LocalExecutor.request_stop() -> ()` and `LocalExecutor.stop_requested() -> bool` and then it wou

[2021-03-22 15:10] glommer commented on #303
I don't immediately see value in an API that is used to just request a stop. The reason for that, is that the way the executor works is exactly that it executes a future, and when that future finishes the executor stops. So if anything, an object like that could be used to indicate to your main future that it is time to stop, without any executor support.

However, what I do see a lot of value is

[2021-03-23 07:08] artemyarulin commented on #303
Really like you idea of chained handlers.

Could you please clarify a bit - given simple one executor:
[code]
How shutdown logic will be integrated in here? I want to close the file at the end as a part of a shutdown. Having totally separate external shutdown function will make it harder to share the state from the executor - in this case file `f`

[2021-03-23 13:14] glommer commented on #303
In this example you need the file to be kept alive in two places: the shutdown handler, and the normal file operations (since there is no clear way of knowing when to move from one to the other).

So you have to wrap it in an Rc. It would be something like this:

[code]

[2021-03-23 21:32] artemyarulin opened #305 "Error: registering buffers in the poll ring. SkippingOs"
After integrating `logs` into my app I've started to receive errors like
[code]
I have 16GB of RAM available, so unlikely that is a problem. I've tried fresh AWS environment and there I couldn't reproduce, so something with my environment. What could it be? I can think only about different kernel, not sure what else could affect that

For reference whole code
[code]

[2021-03-23 23:39] glommer commented on #305
Maybe we can make this message better.
The problem here is (very likely) not the amount of DRAM, but the amount of memory that can be `mlock`ed, (ulimit -l). io_uring needs that to be relatively high as it will map its buffers into locked memory.

There are instructions in our `README` on how to increase that. Perhaps logging is using some of that too, and you were already close to the edge.

Alte

[2021-03-24 06:35] artemyarulin commented on #305
Got it now, [io_memory](https://docs.rs/glommio/0.3.1/glommio/struct.LocalExecutorBuilder.html#method.io_memory) description says:

`The system will always try to allocate at least 64kB for I/O memory, and the default is 10MB.`

It's per executor - so if I have 10 threads then I need to have `ulimit -l` to at least `64KB*10` to make it working and `10MB*10` to avoid seeing error message (plus poss

[2021-03-24 06:35] #305 closed

[2021-03-26 04:58] jeffwidman opened #309 "What do you think about running `miri` as part of CI?"
Given that this project uses unsafe, what do you think about adding `miri` to the CI pipeline?

A little background on `miri`: https://www.ralfj.de/blog/2020/09/28/miri.html

In fact, `miri` was already used to [find a memory leak in `glommio`](https://github.com/DataDog/glommio/issues/110).

There's more info [here on how to integrate it into a CI pipeline](https://github.com/rust-lang/miri/#runn

[2021-03-26 05:18] jeffwidman opened #310 "Any reason CircleCI Orbs aren't used?"
Reading through [the Rust orb](https://circleci.com/developer/orbs/orb/circleci/rust), it looks like there's a few places it could DRY up https://github.com/DataDog/glommio/blob/master/.circleci/config.yml

Any reason you went with hand-coding your own?

I'd be open to taking a stab at it, but wanted to check with the maintainers first.

[2021-03-26 05:31] jeffwidman opened #312 "Switch to running `rustfmt` using a nightly that contains a working `rustfmt`"
In https://github.com/DataDog/glommio/pull/292#issuecomment-794929913, a dependency on `rustfmt` from `nightly` was added.

That's all well and good, but sometimes `nightly` doesn't have a working `rustfmt`, causing [spurious test failures on completely unrelated PRs](https://app.circleci.com/pipelines/github/DataDog/glommio/810/workflows/5be9f666-b1b5-41cc-b5a2-cdfa61c57fc9/jobs/2888).

Potential

[2021-03-26 13:07] glommer commented on #312
Thanks. I may have time to look at this myself later.
Tagging @bryandmc for awareness

[2021-03-26 13:14] glommer commented on #310
no reason, I just suck at those things.
It's an alien world to me.

[2021-03-26 13:43] glommer commented on #312
This should be fixed now, thanks @jeffwidman

[2021-03-26 14:13] bryandmc commented on #312
Shoot yeah I forgot that nightly builds sometimes don't include various components.. is this resolved?

[2021-03-26 14:27] bryandmc commented on #310
I noticed this too when looking for documentation on how to do something but didn't know enough about them to fiddle with it.. do we know what the advantages are? Are they just simpler and more DRY as you mention? Any other benefits? Pitfalls?

[2021-03-26 14:30] glommer commented on #312
Yeah, I merged something now that hopefully will fix this

[2021-03-26 14:31] bryandmc commented on #309
Yeah it would be awesome if it was possible.. cause I have heard goo things about miri. But how would we get around all the syscalls and then there's some other limitations as well that would need to be resolved. If they were I'd be all for it but as mentioned above I'd also just love to have the tests running in CI as well.

[2021-03-26 20:38] #312 closed

[2021-03-26 20:40] jeffwidman commented on #312
Great!

[2021-04-01 15:48] qiujiangkun opened #317 ""kernel witnessed Romulus killing Remus" on AWS Ubuntu 20.04 kernel 5.4.0"
It's weird, since linux 5.4.0 isn't that old at all. Any idea how to debug?
[code]

[2021-04-01 15:53] glommer commented on #317
5.4 is old.
The minimum kernel required to run glommio is 5.8
io_uring presence is not the only requirement: we also test for individual io_uring operations that are used by glommio.

[2021-04-01 15:53] #317 closed

[2021-04-01 15:57] qiujiangkun commented on #317
This should be mentioned somewhere more explicitly

[2021-04-01 16:13] glommer commented on #317
Fair point.

Where would you suggest, that would have helped you the most? In the README? In the error message? Both ?

[2021-04-01 16:17] qiujiangkun commented on #317
I would first see the error message and then README, but if I can read it in README in the first place, I couldn't have seen the error message. So I prefer both.

[2021-04-01 16:21] glommer commented on #317
Thank you!
It's a very good suggestion and I will patch it up soon, unless you prefer to do it yourself: I'd be delighted to have your contribution!

Let me know what you prefer.

[2021-04-05 17:20] glommer opened #319 "call wake directly instead of accumulating it in a vector"
In `parking.rs`, we accumulate wakers in a vector and wake them all at the end. This is usually the right thing to do, because wakers can be reentrant. But in our case we don't need to do this, because our wakers won't actually run anything, just schedule a task for running (see the code in `raw/task.rs`) so there is no danger of reentrancy.

The complex thing here, is that the code in `uring.rs`

[2021-04-07 00:59] sstadick opened #321 "Wording in get_buffer_aligned docs"
[Docs](https://docs.rs/glommio/0.3.1/glommio/io/struct.DmaStreamReader.html#method.get_buffer_aligned)

The docs say:

What does that mean? In all examples it looks like the returned buffers length is checked to see if it is the same as the buffer size. Does this mean that this will not truncate itself appropriately when it hits the end of a file if the end of a file is not aligned with the buffer

[2021-04-07 13:11] glommer commented on #321
Hello and cool dinosaur!

Actually the wording should have been **"should not cross"**.

So for instance imagine your position is 4000 and your buffer size is 4096. You cannot ask for a 100-byte read at this point.
We could potentially improve this to return a short read at this point, but I find this potentially confusing because usually short reads are indicative of end-of-file.

What do you thi

[2021-04-07 13:57] sstadick commented on #321
Thanks for the speedy reply!

That wording (in your comment) matches up with what I thought it did a little better. I see what you mean about short reads being potentially confusing.

To clarify a bit more:
- If I'm at position 4096 and the file is 4196 bytes in total, buffer size is 4096, the next call to `get_buffer_aligned` should return 100 bytes to me and this indicates EOF.

If that is the c

[2021-04-07 14:12] glommer commented on #321
It's really my pleasure! I haven't yet wrote too much about writes, and I keep thinking it's because it would be uninteresting. May I ask you if an article focused on writes would be a good read in your opinion?

About the documentation, would you like to send us a patch? I'd be truly honoured to have you as a contributor. If not it's ok too, I'll patch that later.

[2021-04-07 14:38] sstadick commented on #321
Yes! I'd love to send a PR for the docs! I'll put one together sometime today.

And as for a something on writes, in my opinion that would be super interesting to see. The article that linked to your article, which got me their originally was [this](https://gregoryszorc.com/blog/2021/04/06/surprisingly-slow/). And it had a brief section on writes that made me realize that I understand writes even

[2021-04-10 06:45] jeffwidman commented on #310
This is still on my to-do list... but I suspect it will have to wait until I get further through the Rust tutorial and start to understand the toolchain more. I think in the meantime this issue should stay open, and eventually either I'll learn enough to tackle it, or someone else will tackle it.

[2021-04-10 07:03] jeffwidman opened #324 "Get real tests running in CI"
From https://github.com/DataDog/glommio/issues/309#issuecomment-808205283:

Breaking this out as a separate issue.

[2021-04-10 07:14] jeffwidman commented on #324
I looked into this a bit last night and found the following:
* Alpine 3.13 is running 5.10 and already released
* Debian 11 Bullseye will be running 5.10 LTS, just recently entered the hard freeze of their release process, so will probably be released this summer.
* Fedora 34 will be released later this month with 5.11
* Ubuntu 20.10 includes 5.8, and 21.04 will be released in two weeks with 5.10.

[2021-04-10 07:16] jeffwidman commented on #309
Makes sense... I opened https://github.com/DataDog/glommio/issues/324 to track getting the actual tests running in CI. Whenever that gets resolved then can circle back to look into this further.

[2021-04-11 13:16] waynexia opened #325 "Executor hang with tokio oneshot"
I want to use the `oneshot` channel as task's `JoinHandle`, which can be `await` on other runtimes like tokio.

<details><summary>Here is a reproducible example</summary>

[code]

</details>

In this example, I can see "received" but no more other things and the program keep running.

If add a `.await` after `detach()` on Place-1 or remove the line on Place-2 the "polled" will be printed. But thes

[2021-04-12 14:33] glommer commented on #325
thanks for trying this! I will take a look soon

[2021-04-15 05:24] thirstycrow opened #326 "Sleep hangs when the sleep duration is very short"
The following test works on my laptop, but hangs while running on our virtual box for gitlab ci.

[code]

[2021-04-15 13:10] glommer commented on #326
Thanks Jiang

can you reproduce locally with microsecond-level sleeps ?

[2021-04-15 23:16] glommer commented on #326
I tried a couple of things locally, including running the tests concurrently with a `yes` call burning CPU and could not reproduce.

Could this be a kernel issue, maybe?

In any case, it would be helpful if you could add some debug statements so we can figure out what's wrong.

A couple of interesting places:
* do we even register this timer into the reactor ? (that's done in `timer_impl.rs` and e

[2021-04-15 23:26] glommer commented on #325
Hello

I am not able to run this:
[code]

If I change `channel` to `oneshot`, then I get a different message:

[code]

I suspect this could be due to differences in tokio versions.

The easiest way would be for you to send me a branch that has that code inside the `examples` directory, with the exact tokio version you want, etc.

[2021-04-16 01:53] waynexia commented on #325
Sorry about that, I missed this dependence. `channel` is `std::sync::mpsc::channel`.

The example code is in https://github.com/waynexia/glommio/blob/issue325-example/examples/issue325.rs.

[2021-04-16 07:06] thirstycrow commented on #326
I cannot reproduce with the pasted code today, but it still happen on a test in our application. I added some print statements in parking.rs and uring.rs. According to the output, the executor is sleeping in the main ring and never wake up again.

[code]

[2021-04-16 13:48] glommer commented on #326
Right, that the executor sleeps and doesn't wake up is predictable.
What is more interesting is finding out if this is because the timer never was registered, or because it never fired or never completed.

I don't know exactly where you put those prints -> care to elaborate?

But this suggests to me that we *did* register the timer:
[code]
(I would like to understand exactly where we put this prin

[2021-04-16 13:50] glommer commented on #325
Ok, I can reproduce this locally now. Thanks!

[2021-04-16 13:59] glommer commented on #325
Ok, I think this is because you are using the sync version of `mpsc`.

Sync primitives can't work in an async thread-per-core environment. To understand why, keep in mind that there is only one thread. If it blocks, who is to wake it?

Here's a sequence of events that leads to this hang:
* `recv()` is a *blocking* call: so when it is called, the entire thread stops until an element is received.
*

[2021-04-16 14:27] waynexia commented on #325
Got it, tokio mpsc works for me now.

Appreciate your detailed and clear explanation!

[2021-04-16 18:12] waynexia opened #331 "Channel mesh builder panic in test case"
I try to run the test `test_peer_id_invariance()` and it got panic.

<details><summary>backtrace</summary>

running 1 test
thread 'unnamed-10' panicked at 'called `Option::unwrap()` on a `None` value', glommio/src/channels/channel_mesh.rs:382:55
stack backtrace:
   0: rust_begin_unwind
             at /rustc/9c09c1f7cfcf9de0522bcd1cfda32b552195c464/library/std/src/panicking.rs:493:5
   1: core::pa

[2021-04-16 18:14] glommer commented on #331
Thanks.

Tagging @thirstycrow as the author of the mesh channels.

[2021-04-17 14:41] thirstycrow commented on #326
I added print statements at the following places

[code]

It produces output like this:
[code]

[2021-04-17 15:10] thirstycrow commented on #331
I can't reproduce the panic problem on my laptop, but sadly found it may hang with the CPU's buring. I'll do more investigation in the next week.

[code]

[2021-04-18 10:19] thirstycrow commented on #331
10000 rounds passed successfully, #332 should have fixed this issue.

[2021-04-18 17:35] waynexia commented on #331
6000+ rounds passed here. I'll close this once #332 get merged.

But what about that hang?

[2021-04-19 01:56] thirstycrow commented on #331
That hanging is a consequence of this issue, I did not run the test with `--nocapture` at the beginning, so the panic backtrace was hidden because the process was still running.

[2021-04-19 15:03] glommer commented on #331
Thanks folks

[2021-04-19 15:04] #331 closed

[2021-04-19 15:16] glommer commented on #326
[code]

[2021-04-21 03:03] thirstycrow commented on #326
The kernel version is 5.11.13-1.el7.elrepo.x86_64.

Everything seems work fine, except that `submit_sqes_and_wait` does not return:

<pre>
running 1 test
fill_sqe: user_data: 1, args: Read(0, 8)
processing 0 timers
   pending count: 0
   ready count: 0
arm_timer: 100ms, new_id: Idx { raw: 1, _ty: PhantomData }, user_data: 2
calling uring_sys::io_uring_submit
uring_sys::io_uring_submit returned 1
f

[2021-04-21 11:50] glommer commented on #326
I can't see how this is not a kernel bug.
I will try to work on a simpler reproducer. But we prepared the sqes, successfully called io_uring_submit, and yet the timer doesn't fire.

[2021-04-26 10:45] shivshankardayal opened #336 "DPDK integration"
Is there any plan to integrate DPDK witth glommio?

[2021-04-26 13:05] glommer commented on #336
No, and I don't think it is the right move.
I am interested in integrating AF_XDP, which I believe to be more flexible, easier to set up, more modern, and provide most of the benefit of DPDK. @bryandmc was working on his spare time in some initial code.

[2021-04-26 14:38] bryandmc commented on #336
Yeah I already have proof of concept using af_xdp directly, and I am hoping to get something officially merged in the new few months. The af_xdp model would still allow us to do true zero copy networking without having to deal with dpdk. The initial thing we merge will likely only include L2/3 sockets (raw access to frames) and a simple udp stack on top of it. It likely won't include tcp because w

[2021-04-26 15:13] shivshankardayal commented on #336
@bryandmc Not there is not specific interest in DPDK apart from user-mode networking. I am reading up on AF_XDP and it is interesting.

[2021-04-26 15:13] #336 closed

[2021-04-28 12:52] #321 closed

[2021-05-07 15:48] pkoch opened #347 "Try out being the IO layer for ripgrep?"
Hello! 👋

So, I reading https://itnext.io/modern-storage-is-plenty-fast-it-is-the-apis-that-are-bad-6a68319fbc1a and I was wondering how much https://github.com/BurntSushi/ripgrep could benefit from this (no close relation, I'm just a user). I know glommio is still early alpha, but rg seems like a very practical demonstration of how good the speedups can be?

[2021-05-08 02:48] bryandmc commented on #347
It's definitely an interesting idea.. I don't know if anyone will have the appetite to drive this but it's definitely a cool idea. I won't speak for anyone else in particular but I'm focused primarily on databases and similar use cases.

So if someone wanted to tackle this it would be pretty cool and I'm sure people would be happy to help along the way..

[2021-05-09 00:52] HippoBaro commented on #73
I recently got #341 merged and it partially solves this issue by coalescing read requests when reading many iovecs from a file. Admittedly, it doesn't deduplicate/merge across tasks yet, which is what we really want, but it's a start.

[2021-05-14 01:23] bryandmc commented on #319
I think this issue can be closed due to #327

[2021-05-14 01:31] glommer commented on #319
it does

[2021-05-14 01:31] #319 closed

[2021-05-16 11:20] Suyash458 commented on #243
@glommer I'd like to add options for `UdpSocket` if this is not something being worked on currently

[2021-05-17 14:11] glommer commented on #243
Hello @Suyash458 ! To the best of my knowledge there's no one working on this at the moment.

[2021-05-19 02:26] Nugine opened #351 "Calling alloc without layout check causes UB"
https://github.com/DataDog/glommio/blob/7746803b1ee081e815b89badaa00855b180eae5a/glommio/src/sys/dma_buffer.rs#L23-L28

https://doc.rust-lang.org/nightly/alloc/alloc/trait.GlobalAlloc.html#safety-1

[2021-05-19 13:19] glommer commented on #351
Thank you! Are you willing to provide a fix for that? Otherwise I'll get to this soon.

[2021-05-19 13:36] Nugine commented on #351
I'm not sure what the desired behavior is. It is up to you.

[2021-05-19 14:50] #351 closed

[2021-05-19 14:50] glommer commented on #351
Fixed, thank you!

[2021-05-20 00:51] jleaders opened #354 "Windows support or fallback?"
Is a Windows port a possibility with [DirectStorage](https://devblogs.microsoft.com/directx/directstorage-is-coming-to-pc/)?

[2021-05-20 00:55] glommer commented on #354
Definitely a possibility, but should come from someone with expertise in that technology.
I don't have either the expertise or the bandwidth unfortunately

[2021-05-28 17:31] qiujiangkun opened #360 "Why is Task's JoinHandle !Send?"
I would like to join the JoinHandle from another thread, but the JoinHandle is !Send due to NonNull.
Is it actually Send or !Send by design?
https://github.com/najamelan/async_executors/pull/5#discussion_r641702676

[2021-05-28 17:40] qiujiangkun commented on #360
Task's JoinHandle
[code]

[2021-05-28 17:43] glommer commented on #360
I left a comment in the project you linked to.
tl;dr: ufortunately a `Send` task's join handle (or anything task related really) is a big no no and would break the thread-per-core model we follow.

[2021-05-29 06:08] #360 closed

[2021-06-01 11:36] qiujiangkun commented on #237
For those who need a work stealing approach, you can refer to my implementation.
https://github.com/qiujiangkun/async_executors/blob/dev/src/runtime/glommio_tp.rs

[2021-06-05 05:49] qiujiangkun opened #368 "What is the idomatic method of spawn_blocking in glommio?"
Sometimes I would like to do some side work. Of course I can spin up a dedicated thread pool. Or I can just `std::thread::spawn()` with some core_affinity management. What is the idomatic method of spawning an blocking task in glommio?

https://github.com/najamelan/async_executors/issues/3#issuecomment-855180980

[2021-06-05 06:22] bryandmc commented on #368
Generally... try not to..? If you do have to I suppose just spawning a thread and using channels could be your best bet. I suppose we should have a worked example of this somewhere but frankly it's something that should be avoided like the plague and definitely not done in a glommio executor. I'm semi-resistant to this, though it can be pretty easily implemented outside glommio with little or no c

[2021-06-05 13:36] qiujiangkun commented on #368
I can just set the cpu mask to 0xFFFF, but it's not the default behavior

[2021-06-07 13:44] lideen999 opened #369 "On the storage.rs example"
The result of the example running in my notebook is not ideal (HDD Hard Disk)

**Buffered I/O: Wrote 33.36 GB in 434.570784903s, 76.77 MB/s

Buffered I/O: Closed in 31.687960771s, Amortized total 71.55 MB/s

Direct I/O: Wrote 33.36 GB in 468.815610985s, 71.16 MB/s

Direct I/O: Closed in 372.940607ms, Amortized total 71.1 MB/s**

I see the parameters:

with_ buffer_ Size (512 < < 10), adjusted to 1

[2021-06-07 14:19] glommer commented on #369
HDD and modern SSD/NVMe I/O are incredibly different. They have different characteristics, different latency curves, different everything, really.

Glommio is designed with newer devices in mind, so we don't even attempt to perform well on HDD I/O.

That said, what you are seeing here is likely just a device bottleneck. If your device is your bottleneck, there's not much you can do at the software

[2021-06-07 14:29] glommer commented on #368
After recent work we now support channels that connect glommio with other threads.

So indeed the best way is to spawn a thread (or have a thread pool ready), do your work there, and pass the results back on the channel.

If you are interested in working on a generic way to make that happen in glommio, I think we can craft a good API. But the requirement for that to happen should be that it is pro

[2021-06-11 13:30] shivshankardayal commented on #336
@bryandmc My interests have changed, and I want to build an http web framework based on user mode networking based on Glommio. I am no Rust expert, but it will be a worthwhile project, so I am willing to invest time.

[2021-06-12 01:51] bryandmc commented on #336
@shivshankardayal  - well glad to hear you're interested in helping out! We will definitely need the help.. I'm hoping to land a very basic AF_XDP driver as soon as I can find the time to finish it. So stay tuned and we are definitely gonna need people to code review the initial patch, and then build from there.

[2021-06-12 02:00] shivshankardayal commented on #336
@bryandmc I will be of little help as I am just a beginner in Rust. However, I will take tide.rs http framework code and try to port it to glommio. I hope to learn Rust by doing this project. I used to be C/C++ programmer, so I understand the concepts. The syntax is weird for me and all the functions are differently named in rust which makes it a bit of hassle.

[2021-06-18 01:44] shikhar opened #377 "Flaky test `channels::shared_channel::test::shared_drop_cascade_drop_executor`"
[code]

[2021-06-18 02:04] shikhar commented on #377
bisects to db3d5bc71be373d0ffb414283a789550ded6ce1b, when this test was added cc @bryandmc

[2021-06-23 09:38] LizardWizzard opened #379 "panic in RawTask drop_task"
Hello! I'm using glommio to experiment with async rust and especially asynchronous file IO. While trying to implement write ahead log I faced strange panic in drop_task [here](https://github.com/DataDog/glommio/blob/master/glommio/src/task/raw.rs#L347) in assertion [here](https://github.com/DataDog/glommio/blob/master/glommio/src/task/raw.rs#L295)

I'm using current master branch at ```cb1094189d0

[2021-06-23 11:08] artemyarulin commented on #379
I guess I had the same running this example https://github.com/DataDog/glommio/blob/master/examples/storage.rs using my machine in the past.

Tested the same on some AWS VM and it went fine, realized that only difference is kernel version - upgraded that and issue went away. Just a guess

[2021-06-23 13:43] glommer commented on #379
Hi

Sorry about that! Those are indeed the hardest parts of the executor. I can take a look at the reproducer later and see if I can reproduce, but I will take the time to explain what is going on, and hopefully it will make your debugging easier!

Tasks have an asynchronous lifetime. For example, when you do:
[code]

you create a task, and that task is kept alive even after this context ends.

Th

[2021-06-23 13:44] glommer commented on #379
@artemyarulin do yuou have more details about the kernel versions you used? If there is a buggy io_uring in the kernel, then all bets are off. You can never rule out a random corruption in that case. But it could be just timing.

[2021-06-23 15:05] LizardWizzard commented on #379
Thank you for the great explanation! Will try to debug this case. I had similar scenario in this code and panic disappeared when join handle was awaited instead of just dropped. But when I added more code error consistently appears independetly of that fact

[2021-06-24 13:11] LizardWizzard commented on #379
Digged in a little. I'm using kernel version 5.12.11. Collected traces for two tasks. In my case second panic occurs in drop after the first one. So there are two tasks with rc underflow.

Trace for the first one:
[code]
Trace for the second one:
[code]
I'm continuing further investigation, just in case something comes to mind

[2021-06-24 15:10] LizardWizzard commented on #379
Got interesting result, replaced ```waker.wake_by_ref()``` with ```waker.clone().wake()``` [here](https://github.com/LizardWizzard/parsley/blob/feature/initial-wal/core/src/wal/segment.rs#L353) and now test passes. So probably something in ```wake_by_ref``` behaves unexpectedly

[2021-06-25 14:25] glommer commented on #379
Thanks!

Yeah, this makes sense because `clone` will bump the reference count. Here's another pointer:
Usually when you are just acquiring a reference, we don't mess with the reference count (the same way that a reference to an `Rc` does not increase its reference count).

But there are situations in which we do. See for instance this code inside `schedule`:

[code]

Essentially what is happening

[2021-06-25 19:21] LizardWizzard commented on #379
Have some observations. Saw this comment
[code]
and in the trace I see that waker is dropped after the call to `wake_by_ref` and refcount reaches zero. Also if I actually call `schedule` test errors with panic in the same place and a message: `free(): double free detected in tcache 2`

Will dig deeper, I think I have only partial understanding on whats going on, will try to connect pieces together

[2021-06-28 14:43] #377 closed

[2021-06-28 14:58] LizardWizzard commented on #379
I might have found the cause (or just become closer to it). Also created a much shorter reproducer. Here it is:
[code]
In this code waker is dropped right after the call to `wake_by_ref`. Also if I replace `wake_by_ref` by just `wake` it will work fine, so there is no `waker.clone()` involved to bump refcount.

I'm not sure how to handle the issue. One idea is to detect this situation in drop_wake

[2021-06-28 15:06] glommer commented on #379
Thanks Dmitry! The reproducer helps a lot. I have a hunch that this has to do with the schedule function that we use. I'll try to take a look at this tonight

[2021-06-28 20:14] glommer commented on #379
I don't think this proposed solution will work. The fact that the join handle is still alive is a fortunate coincidence of the way you coded the reproducer:

if you don't capture them in their `jh` variables, but instead add a `glommio::timer::sleep` after both `detach()`, then this still crashes because they are killed right away.

[2021-06-28 20:57] glommer commented on #379
The issue here seems to be a potential double-schedule issue.

I have uploaded an attempted fix here: https://github.com/glommer/glommio/pull/new/attempted-fix

Please test.

I am not proposing this a fix just yet, because it doesn't make sense to me that drop_waker() is even called in the `wake_by_ref` case, so I am investigating why this is the case

[2021-06-28 21:05] glommer commented on #379
I think what happens is that when you call `wake`, that is a consuming call, so `drop_waker` never gets called by the environment. When you call `wake_by_ref`, the waker is not consumed. So eventually it does when the block goes out of scope and now we have two schedules:

- the call from `wake_by_ref` itself,
- the implicit call that happens when `wake` is dropped.

We still need to increase the

[2021-06-29 09:57] LizardWizzard commented on #379
Thank you for looking at this. Proposed solution sounds reasonable, but reproducer still crashes in the same place. Probably it works for case with sleep instead of keeping join handles. So the condition added to `drop_waker`: `if state & SCHEDULED == 0` is not matching because of  `state & HANDLE == 0` requirement above, so in case of unmodified reproducer join handles are still alive. Also I don

[2021-06-29 12:55] glommer commented on #379
All those solutions look reasonable, but as you could see, including mine, the problem is the corner cases =)

Let me take a deep look at this again today and I will get back on that.

Thanks!

[2021-06-30 01:27] glommer commented on #379
I will post a PR with a fix now. I am pretty confident in the fix, because this finally makes sense. But I'd appreciate some testing before it goes in.

Also, I'd very much like to have the tests you wrote merged too. Because you wrote them, I am not including them in the PR. My preference is that you send them to preserve authorship, but if you prefer I'm happy to merge them too.

I'd like to hav

[2021-06-30 12:10] LizardWizzard commented on #379
Looks great! Tests pass. Thank you! I've submitted tests as a PR to your branch so they can be merged at once with the fix so there is no failing tests in master. Let me know if there is a better option

[2021-06-30 13:38] #379 closed

[2021-06-30 13:39] glommer commented on #379
I think it's best to send it separately. I didn't see your patch in the PR now that I merged. Not sure if there is anything I should do in the github interface for that to appear.

[2021-07-19 09:03] nadenf opened #386 "Hyper example fails to complete and is slow"
Running the Hyper example using a basic ApacheBench test reveals the following error when run with 100 concurrent requests for 1000 total requests:

[code]

And compared to Actix-Web it is around 10x slower.

[2021-07-20 09:14] fakeshadow commented on #386
I don't know about the error but from what I see the example is single threaded and actix-web would use all of your cpu cores by default so they are not really comparable.

[2021-07-20 12:16] bryandmc commented on #386
Hey, @nadenf can you provide the other relevant pieces of code such as the actix example, the ApacheBench code and/or at least an explanation of what it does? All that said there's a high likelihood @fakeshadow is correct that the example is single threaded so you would need more executors to be able to compete with something that's using all cores. Also, I think it's fair to say the hyper example

[2021-07-20 12:29] nadenf commented on #386
Everything below was for 250 concurrent clients using Siege with a simple e.g. /hello -> "world" response example.

With this [Thruster example](https://github.com/thruster-rs/Thruster/blob/master/thruster/examples/hello_world.rs) = 148,744 rps..

Using [your example](https://github.com/DataDog/glommio/blob/master/examples/hyper.rs) as is = 11,462 rps.

Changing it to 8 max_connections = 130,412 r

[2021-07-20 12:30] nadenf commented on #386
This is the code that I used:

[code]

[2021-07-20 12:33] nadenf commented on #386
Maybe it's worth updating the example and submitting to [Techempower](https://www.techempower.com/benchmarks/#section=data-r20&hw=ph&test=plaintext&l=yyku7z-sf) because it looks like it could be the fastest Rust web server.

[2021-07-20 15:44] glommer commented on #386
I am happy to merge a patch that moves the example to use many threads. Even better if it was based on the new `LocalExecutorPool` API that launches N identical executors.

[2021-07-20 16:16] ChillFish8 commented on #386
As an add on to this and playing around with it, when running with a more reasonable 1048 concurrent connections the hyper example as mentioned [above](https://github.com/DataDog/glommio/issues/386#issuecomment-883354274) and setting the concurrent connections to be 1048 per worker (just as a general number) I run into:
[code]
Which leads me to believe the example isn't handling disconnects correc

[2021-07-20 16:17] glommer commented on #386
I just want to set expectations correctly that this example is probably not handling a lot of things correctly.
It's sole goal at the time was to demonstrate how you can use hyper with a `?Send` executor. That's not to say I don't welcome improvements, though.

[2021-07-20 22:15] nadenf opened #387 "Fail to allocate memory on HEDT CPUs"
The readme states that we should set memlock to 512KB.

On HEDT CPUs e.g. 10980xe it will fail to allocate memory if trying to pin a Local Executor to each core.

Setting it to 2048 fixed the issue but should this be the default or documentation updated ?

[2021-07-20 22:18] glommer commented on #387
I think the checks we make should be fore a bare minimum to run a single executor. The actual value will always vary, and will always be higher in bigger systems so it is not great to penalize smaller systems for it.

There are, however, a couple of things we can do to improve:
- mention more explicitly in the readme that your mileage may vary.
- Add an environment variable to change the enforced

[2021-07-20 22:31] nadenf commented on #386
@glommer  .. Do you have any examples of what is not being handled correctly ?

I am working on a PR and new to Rust so it will be a good learning exercise 😀

[2021-07-20 22:37] glommer commented on #386
I don't have any particular examples. I am not saying there is anything wrong, just setting expectations that it's not like we put a lot of effort in this example, so I wouldn't be surprised if y'all find issues (like the one above with @ChillFish8 )

[2021-07-20 23:09] ChillFish8 commented on #386
The aforementioned issue is a little confusing because from what I can tell the code is fine correctly handling the sockets, just the stream is being shut down before hyper can flush the stream which probably requires more digging to work out why / what's causing it. But in general, I'm not sure if this is a massive issue in reality considering as you say, it's an example repo.

[2021-07-21 08:42] nadenf commented on #386
@ChillFish8 .. The PR changes the behaviour from panic to eprintln when there is a connection issue.

Unfortunately Hyper doesn't expose the kind of error so it's difficult to only panic on serious errors.

[2021-07-22 03:23] nadenf opened #389 "Upgrade Hyper example to support Tokio 1.x"
The existing [hyper example](https://github.com/DataDog/glommio/blob/master/examples/hyper.rs) uses an old version of Tokio and by extension Hyper.

There has been a breaking change in Tokio where poll_read now passes in a ReadBuf instead of a byte buffer.

The following code was tried:
[code]

But during testing i.e. curl http://127.0.0.1:8000/hello it returns "world" but internally is generating

[2021-07-22 14:19] #73 closed

[2021-07-22 14:26] HippoBaro opened #390 "Look into `IORING_REGISTER_FILES`"
We already use ` io_uring_register()` in conjunction with `IORING_REGISTER_BUFFERS` to register buffers so we can perform IO without paying the buffer-related setup cost each time. We could do something similar with file descriptors.

This will make opening/creating file descriptors take extra time. This cost could be prohibitive for a server that accept new connections in large numbers, for insta

[2021-07-22 15:49] glommer commented on #389
Thanks @nadenf. I have to read more on the new initialization rules on Tokio buffers to make an intelligent comment. But there are a few things that just look wrong from my bird's eye view on this code.

1. What if the first `poll_read( )` returns `Pending`? You seem to be always returning `Ready` from this code, which doesn't seem right. Likely we have to wrap this in the `ready!()` macro at that

[2021-07-22 15:54] ChillFish8 commented on #389
So the code above is invalid, you need to respect the original poll's response as this is what actually indicates if the resource is ready or not which current is always Ready leaving the state machine to fall into all kinds of madness.

Similarly, you have to advance the buffer by n amount of bytes read which is returned from the Ready(usize) of the poll_read();

So it should become something lik

[2021-07-23 04:30] nadenf commented on #389
@ChillFish8  .. Thanks for your guidance. Have fixed it in #388 .

[2021-07-23 04:30] #389 closed

[2021-07-26 06:22] nadenf opened #391 "Panic when reading file"
[code]

## Code
[code]

## Steps to Recreate
[code]

In another Terminal:
[code]

[2021-08-02 18:41] glommer commented on #391
Thank you @nadenf
I will try to investigate it this week. We recently had a similar issue, that was fixed by 26bc054f1c598c6f3d4e2a7b14e4109466ed057e. I am surprised and sad to see this again.

[2021-08-03 13:54] glommer commented on #391
This reproduced locally. I will now take a look.

[2021-08-03 17:55] glommer commented on #391
Ok, quick update: I know what this is now. This seems to be a regression introduced by @HippoBaro 's work on the `read_many` API.

What happens is that the network streams add waiters to a source (Which increase the reference count on the waker), by doing `source.add_waiter`. There is nothing that seems to be popping the waiters from the internal vector where they are stored (short of the task its

[2021-08-03 18:13] HippoBaro commented on #391
👋 bug author here! Thanks for looking into this @glommer. The vector in question is drained when processing events from the ring. My intuition is that this code may process sources outside of the ring somehow. If that's the case, then I can see how the Vec could grow unbounded.

[2021-08-04 18:00] glommer commented on #391
hi @nadenf

I just opened a PR that should "fix" this issue. However, I'm only pushing this now because I am very respectful of your contributions and mindful of your time, and want to unblock any work of yours that may be blocked on it. So feel free to use that for now.

However, I may withhold merging for a while for the following reason: it makes no sense to me that the network stream never com

[2021-08-04 20:24] glommer commented on #391
I looked into this a bit more, and hyper indeed has logic that calls `poll_read` manually on idle connections. Because that logic pertains to idle connections, it makes sense that we would never see the `Source` complete in this case.

So this is legitimate. We don't want to cancel the existing source (which was my biggest fear), and because this is a stream, this immediately means that we're not

[2021-08-09 21:09] #391 closed

[2021-08-11 03:36] waynexia opened #396 "killed by SIGSEGV invalid memory reference"
Greeting! I got this when running my test cases after bumping glommio to v0.5.

I confirmed them back to glommio v0.4.1 and they work fine. The only change I made when bumping is replacing `DmaOpenOptions` with `OpenOptions`. Looks like irrelevant to this.

I got this backtrace from lldb:
[code]

The branch is [here](https://github.com/waynexia/helixdb/tree/bump_glommio). I find [these three tests

[2021-08-11 07:35] waynexia commented on #396
Update: I try to checkout several commits in master branch and find this problem occurs since a441d38841e8e4d298d45ee1a162587ac0b562c1 (before 04bd355731ebcf84f0692659fec1c0efb067bd69 everything is good). This might relate to #374 as a441d38841e8e4d298d45ee1a162587ac0b562c1 is introduced there.

It baffles me that nothing important is in a441d38841e8e4d298d45ee1a162587ac0b562c1, only a variable is

[2021-08-11 14:17] glommer commented on #396
Tagging @shikhar , the original author of that commit to see if it rings a bell.

Indeed it is strange that that particular commit would break anything, but if you can consistently reproduce with it, and it passes without it, it'd be a pretty good indication that something in that series is to blame.

[2021-08-11 14:42] glommer commented on #396
The backtrace seems completely unrelated to what @shikhar did, btw. I'd recommend you run it a couple more times.
It seems to come from the buddy-alloc, which is a 3rd party crate we use to manage the uring buffers (https://crates.io/crates/buddy-alloc)

[2021-08-11 15:03] waynexia commented on #396
Thanks, @glommer!
I've tried on another environment and keep getting this. Pretty strange :thinking:

[2021-08-11 15:09] glommer commented on #396
I am trying to build your tests and hitting an issue. As that's unrelated to glommio I sent you a message on zulip.

[2021-08-11 20:04] glommer commented on #396
I found a similar local reproducer. It is not the same as yours but I think it is very likely to be the same. @shikhar is innocent it seems =)

My suspicion is that 8874895d782e32bd4bbb7c6f5c408467bc8836c4 is to blame.

Let me know if it works if you remove this patch (you may have to remove other things too...)
I'll take a look at that in the mean time

[2021-08-11 23:58] waynexia commented on #396
Thanks, I'll try this. And sorry for @shikhar :open_mouth:

[2021-08-12 00:54] glommer commented on #396
Can you please try https://github.com/glommer/glommio/tree/issue-396 and tell me if it fixes this for you?
It fixes my local reproducer.

The code as-is is wrong, and was broken by the commit I mentioned. But I still don't fully understand how exactly this can lead to invalid access.

Anyway, I'll play with it a bit more but if it fixes the issue for you too that means we're in the right track.

[2021-08-12 01:12] waynexia commented on #396
That branch also works for me 😃 Thanks!

[2021-08-12 01:13] glommer commented on #396
Fantastic, @waynexia . Please allow me some extra time, because I want to understand how exactly this code leads to this exact behavior.

I'll commit a fix tomorrow and that totally justifies releasing 0.5.1, so I will

[2021-08-12 18:56] #396 closed

[2021-08-13 17:23] glommer commented on #368
I just opened https://github.com/DataDog/glommio/pull/398

That doesn't do spawn_blocking, but it implements most of the machinery needed to do it.

On top of the code in that PR, we'd have to :
1) use a thread pool (1 is ok for syscalls, for arbitrary code you need a few)
2) add an opcode for an arbitrary user function.
3) expose it as API.

[2021-08-23 06:59] #369 closed

[2021-08-23 07:14] thirstycrow commented on #326
Upgraded kernel to the latest mainline (5.13.12) from the ELRepo, sleeping now also hangs on our CentOS 7.6 production servers.
However it works well with the 5.13.12 kernel on my Ubuntu 20.04 laptop.

After some experiments, I found a fix by setting the POLL_BUSY_LOOP bit when preparing the PollAdd operation for ring linking.
I don't find any documentation on what kind of events would be fired wh

[2021-08-23 20:54] glommer commented on #326
I will have to read up on what the flag does.
If it does what the name implies, then it is not an acceptable fix (although a direction about what could be wrong)

[2021-08-23 21:18] glommer commented on #326
I am running on 5.14 now and I just tried your reproducer a couple of times. It still passes every time

[2021-08-30 07:40] thirstycrow opened #401 "Memory leak: task not released after completion"
Tasks are not deallocated after completion since 26bc054. A little program to show the problem can be found here: https://github.com/thirstycrow/glommio/commit/192f24701a55ea3c068bb0895c3816c882c90fbb

[2021-08-30 20:40] glommer commented on #401
Thanks. I will take a look tomorrow.

[2021-08-31 11:29] thirstycrow commented on #401
Spent some time trying to understand how the ref count works, now I'm thinking that ref count should be initialized to 0 instead of 1, because after 26bc054 it will always be incremented when get scheduled.

[2021-08-31 13:20] glommer commented on #401
That intuitively makes sense. I will have to dig deeper to validate. Does that fix the issue for you, though? It's an important datapoint

[2021-08-31 15:29] thirstycrow commented on #401
It seems fixed. The memory footprint is not growing unboundedly now.

[2021-08-31 16:13] glommer commented on #401
@thirstycrow you are right.

Would you like to send a PR to fix that ?
Unit tests would be welcome, we can probably have some very low level ones in raw.rs

[2021-09-01 03:37] thirstycrow commented on #401
There's still some kind of memory leaking in our application, but this time it only happens on one of all shards. Have to solve it first. I'll send a PR for this then, if it's not too late.

[2021-09-01 11:14] glommer commented on #401
It's never too late! And it indeed is best to figure out the entire issue first to be sure

[2021-09-06 10:50] #401 closed

[2021-09-06 10:57] thirstycrow commented on #401
Close this in favor of #404

[2021-09-23 15:26] duarten commented on #294
Currently working on this. Going to initially focus on successful compilation, then execution without the ability to do any I/O, and eventually fallback to native, synchronous I/O.

[2021-09-25 22:46] bryandmc commented on #294
I don't know that it would be appropriate to have fallback support that wasn't asynchronous.. because what's the point then? I understand it won't be io_uring but there are definitely ways to do async io on Mac..is epoll available? But I do think it's a noble goal, overall.

[2021-09-26 09:18] glommer commented on #294
it's okay to call synchronous syscalls when they are the only ones available, as long as we do it in a separate thread like we're doing for some edge cases on Linux now.

But async when possible. If we'll support other OS, let's at least do that as well as possible

[2021-09-26 13:29] duarten commented on #294
My assumption was that calling synchronous syscalls was significantly less effort than using `kqueue` or something, and that would at least unblock developing on the the mac. I'll give it a shot in any case.

[2021-09-27 03:35] bryandmc commented on #294
I agree I just don't see how effective it would even be to just call sync apis in an async runtime.. how that maps into this paradigm is a little bit unclear to me unless you are making them async by spawning threads and in that case the whole process is kinda annoying, when maybe kqueue is just as easy.. so practically speaking I would recommend just attempting a decent replacement if possible.

[2021-10-03 08:18] hiqsociety opened #432 "hyper glommio benchmark with numbers of cpu cores vs seastar http?"
1. possible to produce a benchmark like this?
https://github.com/scylladb/seastar/wiki/HTTPD-benchmark

i'm interested to know only if the number of cores up to 32 cores affects performance in a ways. pls show this. appreciate it.

2. it would be good too to be compared with seastar like this:
https://github.com/cpv-project/cpv-framework/wiki/Benchmark-Results

[2021-10-19 17:02] waynexia opened #445 "Proposal: Expose poll style API for DmaFile"
This proposes to add some interfaces for `DmaFile` (and maybe other necessary structures later).

`DmaFile`'s read/write implementations use `Source::collect_rw()` which relies on [poll_fn](https://docs.rs/futures-lite/1.12.0/futures_lite/future/fn.poll_fn.html) to convert a poll-based workflow into async fn. IMHO It would also be natural to expose those poll-based APIs alone with async version. T

[2021-10-27 14:06] HippoBaro opened #452 "improve the CI license bot"
The CI license bot does two things right now:
* It makes sure the license CSV file is up-to-date
* Checks for vulnerabilities in our dependencies

Overall it works okay but has two significant issues:
* The vulnerability check is not idempotent. Vulnerabilities are discovered all the time, and therefore if CI passed yesterday on a branch, there's no telling it'll pass today. That's a no-go because

[2021-11-14 15:26] thirstycrow opened #458 "Deadlock potential"
There's a limited number of sqes in a ring. When sqe is running out, glommio submit the prepared sqes, and requests are left in the submission queue until the next time `consume_submission_queue` is called. Depending on the application logic, it is possible that a submitted sqe depends on an operation still in the submission queue to complete. If the executor fell asleep before the dependent opera

[2021-11-15 03:57] HippoBaro commented on #458
Would it be easy for you to write a simple example of such a program? I would love to have a unit test for that.

[2021-11-15 06:03] thirstycrow commented on #458
It's not an issue of the current version of glommio. Deadlock will only happen if `rush_dispatch` is removed from socket io. (I think that is necessary to improve performance as long as io-uring is used for socket io, because rush_dispatch counterweigh all benefits brought by io-uring for socket only applications) It can be reproduced with the proxy benchmark on this branch: https://github.com/thi

[2021-11-15 19:36] glommer commented on #458
The executor should not fall asleep if there are elements in the submission queue.
If it does, that's a bug.

[2021-11-15 19:37] glommer commented on #458
It could be that we're just forgetting to check that criteria. But "sleep" means "there's no more work to possibly be done". if there are requests sitting in a queue, by definition there is work to do and we can't sleep.

[2021-11-16 15:44] #458 closed

[2021-11-22 18:00] artemyarulin opened #465 "dma_file_stream already borrowed BorrowMutError on close"
Using v.0.6.0 when my app is under heavy load it sometimes chashes with error
[code]
basically I create X executers, in each of them I create N workers where each worker has it's own `DmaStreamWriter`. Now and then workers write to it and once done call `writer.close().await.unwrap()` which sometimes fail with the following error.

After running some `git bisect` I've found that I can reproduce th

[2021-11-22 18:27] glommer commented on #465
Thanks @artemyarulin . Adding @shikhar who wrote the original commit.

I will be able to take a look at it myself in a couple of days as well

[2021-11-22 20:13] shikhar commented on #465
Thanks @glommer and sorry about the bug @artemyarulin. I will try to take a look soon!

[2021-11-23 19:59] mmstick opened #466 "Support for offline vendored builds"
The build.rs currently requires Internet access to get some required dependencies at build time. There should be a path for building from pre-fetched vendored sources. Currently unsure on the best approach at the moment.

This is required before we can start using this for projects in Pop!_OS. Interested in experimenting with a Linux-only async runtime with native io_uring support.

[2021-11-23 20:03] glommer commented on #466
I agree with the sentiment.

About approaches, internet access should only be required for the submodule step.
Ultimately submodule is just a directory, so we could allow an environment variable to specify which directory you want your code to be at. In the absence of the environment variable we'd still do the submodule build.

Would that work?

Another approach, that is obviously a lot more work,

[2021-11-24 14:05] mmstick commented on #466
That would be better than the current situation. But perhaps rather than being a submodule, it could be its own Rust crate that's imported as a dev-dependency to the build.rs, so it's automatically wrapped up with `cargo vendor`. Wouldn't mind contributing to an effort to ditch C-based liburing though.

[2021-11-24 14:25] glommer commented on #466
because Rust builds everything, if you do have an external crate that just builds the submodule you will end up depending on that at build time, no?

One quick fact: historically, that's how we operated. All the liburing code was part of `iou`. But the maintainer didn't have time to work on the project anymore and their pace was not compatible with our needs, so we ended up importing the code.

Th

[2021-11-24 18:57] mmstick commented on #466
The way we package software requires that all dependencies are vendored in advance with `cargo vendor`. A source tarball is generated with the project sources and all of its vendored crates. Then the packaging server uses sbuild to build everything in offline chroots. So dev-dependency crates are perfectly fine since they get vendored with `cargo vendor`, but crates that assume there's a functioni

[2021-11-24 19:03] glommer commented on #466
Thanks for clarifying. In the short term I think factoring this out to an external crate is not the way to go. Once more, such crate already exists, it just doesn't get updated. I contacted the author a while ago about becoming the maintainer but didn't hear back, and that just creates confusion.

If you are okay with that, short term we'll use the environment variable, and longer term work toward

[2021-11-26 02:03] glommer commented on #465
This code is fishy, and I think I may have fixed it by accident (while fixing something else) after 0.6.0

@artemyarulin would you be able to try and reproduce this with our current master branch ?

[2021-11-27 02:04] #452 closed

[2021-11-29 11:19] artemyarulin commented on #465
Yep, with master everything works - thanks

[2021-11-29 15:06] glommer commented on #465
I will reopen because I want to release 0.6.1 with this fix. The next version will change the API considerably in some areas.

[2021-11-30 14:57] #466 closed

[2021-11-30 15:54] jim-king-2000 opened #475 "Support restful API?"
Does glommio support writing restful API (web services)?

[2021-11-30 16:17] glommer commented on #475
Glommio is just an executor. You likely want a library or framework to do that, and such library will need an executor of some sort.

Examples of such libraries are hyper, actix, etc. Currently those libraries are at the very least tokio-first, but some, like hyper, allow you to specify your own executor with some shim work.

Look for the file `examples/hyper.rs` on our examples directory to see h

[2021-11-30 16:17] #475 closed

[2021-12-01 02:42] jim-king-2000 commented on #475
So, any web framework which is based on glommio?

[2021-12-10 09:36] topecongiro opened #477 "Cargo test hangs"
Running `cargo test` hangs with test failures here and there in my environment.

<details><summary>cargo test output</summary><div>

[code]
　
</div></details>

Tests that failed succeeds if run individually; e.g. `cargo test net::udp_socket::tests::multi_executor_bind_works` or `cargo test dma_file`. `glommio` seems to be working without any issue if used as a library from my application in the sa

[2021-12-10 10:41] glommer commented on #477
Hello!

Would you be able to run it with a timeout so that the tests eventually fail and produce an output? It would be nice to see what they output to use it as a clue.

[2021-12-10 13:50] topecongiro commented on #477
Thank you for pointing me in the right direction for debugging.

I added a timeout, and it turned out that many tests were failing due to the "too many open files" error. So I increased the maximum number of open file descriptors from 1024 to 65536 and tried again. This time, most errors disappeared, and I was left with the following issues:

- `sys::hardware_topology::test::topology_this_machine_

[2021-12-10 14:06] topecongiro commented on #477
<details><summary>FYI: lstopo</summary><div>

![image](https://user-images.githubusercontent.com/21980157/145584896-0d57c600-e804-48ce-ad49-57a432ca1487.png)

</div></details>

[2021-12-10 21:47] glommer commented on #477
The big amount of files is likely due to the fact that cargo will start as many test threads as there are cores. And you seem to have plenty =)

Your point 1. should be easy to fix, I will take a look later. Machines this big don't come around that often, so this code end up not getting tested in that environment.

2. and 3. are likely timing related, and will be a bit harder without access to the

[2021-12-10 21:51] glommer commented on #477
Can you paste the contents of:

[code]

And for each node:
[code]

This is the files that are scanned by `get_machine_topology_unsorted` to build the topology map

[2021-12-11 07:13] topecongiro commented on #477
Here is the output:

[code]

[2021-12-11 08:31] topecongiro commented on #477
Concerning 3., I have submitted #478 for the possible fix. Given that it's not reproducible in every environment, I imagine that this is not a priority for you, so please check it out when you have time.

[2021-12-11 11:39] glommer commented on #477
The files you provided look sane.

About the output that you posted that has duplicates, note that this is totally fine: you are scanning the list of CPUs, and printing their core_ids: It is expected that many CPUs will be in a core.

That info is actually in a file that I forgot to ask you for, `physical_package_id` (sorry, my bad), that is inside `/sys/cpuX/topology`. A similar loop printing the

[2021-12-11 11:50] glommer commented on #477
I suspect some resource exhaustion is behind the other two tests hanging as well.
The placement one, in particular, the only blocking operation it is doing is starting threads.

[2021-12-11 13:20] topecongiro commented on #477
They are all zero :(

[code]

This is what we get

[code]

[2021-12-11 14:08] glommer commented on #477
Thanks.

this makes it pretty obvious what is going on. The code assumes that the core IDs exposed by the system are global. But they are not.

You will see that `core` only goes up to 6, so indeed you have core 0 in many numa nodes.

The fix should be to make the cores id global by combining them with the NUMA node id. I am a bit busy today with personal matters but I can work on a fix later toda

[2021-12-11 14:09] glommer commented on #477
I would also love to understand why the `physical_package_id` is zero in this system =(

[2021-12-11 14:45] topecongiro commented on #477
Yeah, I am happy to contribute, hopefully finishing by this weekend.

I am by no mean expert on Linux...but looking at the documentation, [`physical_package_id`](https://www.kernel.org/doc/html/latest/admin-guide/abi-stable.html#abi-sys-devices-system-cpu-cpux-topology-physical-package-id) is described as follows:

[code]

So in a single socket system (which I assume is true for most systems, incl

[2021-12-21 07:38] songzhi opened #481 "Add `alloc_dma_buffer` to `ExecutorProxy`"
I see the source code is:
[code]
I guess the `DmaBuffer` could be used across multiple `DmaFile`s as long as in the same `reactor`/`LocalExecutor`?
I think it's better to expose the API in the `LocalExecutor` level. So I can allocate a `DmaBuffer` and write it before openning a `DmaFile`.

[2021-12-21 10:00] laa commented on #481
I suppose that is performance optimization and at the same time usage of metadata of the file to create DmaBuffer which is aligned with the page size of the file. The reactor uses a buddy allocator which quite fits there because of the usage of pow(2) sizes. You can use your own shared DmaBuffer allocated directly and align its size with the page of the file.   So IMHO API looks OK but probably @g

[2021-12-21 11:06] songzhi commented on #481
Or maybe the DmaBuffer allocator could be exposed to let users create multiple allocators and allocate DmaBuffer any time they want. Of course it should be attatched to only one specific reactor.

[2021-12-21 11:34] laa opened #482 "RwLock panics inside implementation of Deref/DerefMut traits"
According to the contract of Deref trait - "For similar reasons, this trait should never fail. Failure during dereferencing can be extremely confusing when Deref is invoked implicitly." https://doc.rust-lang.org/std/ops/trait.Deref.html
Because RwLockGuards fail inside of Deref implementation that probably should be fixed.

[2021-12-21 14:25] glommer commented on #482
Thanks for pointing this out @laa!

Are you planning on providing a fix ? You don't have to, but that'd be cool. Just let us know for planning

[2021-12-21 14:30] glommer commented on #481
Hello @songzhi ! I don't mind exposing this API at the reactor level. as @laa pointed out, it is useful, conceptually, to have access to it from the file object so we can perform alignment optimizations (which are currently not done), but that doesn't preclude exposing it at the reactor level.

Are you looking to contribute a PR for that? It would be awesome if you are, if not I will get to this s

[2021-12-21 16:07] songzhi commented on #481
I'm glad to implement it.

[2021-12-22 08:16] laa commented on #482
Hi @glommer .
Sure will provide a fix in a couple of weeks.

P.S. Glad to interact with you after a while  :-)

[2021-12-29 04:43] HippoBaro commented on #481
@songzhi that's alright, thanks for raising this! I'll make a patch soon.

[2022-01-02 14:31] laa commented on #482
Hi @glommer .
I have checked the code, I suppose we should panic on close. It will panic if readers/writers are still active. WDYT ?
I suppose better would be to return a result on close instead, but it will change the API of the library. IMHO this solution is better.
WDYT ?

[2022-01-03 16:58] glommer commented on #482
Either panic or close, or maybe return an error at close.
Users will then be forced to check it due to `must_check` rules and can retry, etc.

[2022-01-05 13:29] laa opened #492 "AsyncWriter does not take into account situation when buffer is not completely written"
According to the man write(2) `The number of bytes written may be less than count if, for example ... the call was interrupted by a signal handler  after having written less than count bytes.`
If the reasons like reaching the limit of file size or not enough disk space are practically not so important but this one happens in real life.
According to the code of the AsyncWriter:
1. Every write-behin

[2022-01-06 03:16] glommer commented on #492
To the best of my knowledge all of those situations will also return an error.
Keep in mind that C will return the error through `errno`, but for us that becomes an `Error`.
We `collect_error` and bail if that happens.

I am not aware of any situation that will have both a short write and and not return an error.

[2022-01-06 07:07] laa commented on #492
Hm... I have seen myself when this (through Java call though) wrote only part of the data without any error reproted. Let us close this issue. I will try to reproduce the situation by test and in case of success, I will reopen it with a reproducer.

[2022-01-06 07:07] #492 closed

[2022-01-06 11:45] youjiali1995 opened #494 "foreign wake can't work on aws linux2"
The modified echo example hangs on async recv: https://github.com/TPC-TiKV/glommio/blob/tpc-debug/examples/echo.rs. After digging into it, seems events on the latency ring can't wake up the main ring on aws linux2 which uses kernel 5.10.

[2022-01-06 11:46] glommer commented on #494
I think @thirstycrow had reached something similar at some point, and we ended up concluding it was a kernel bug.

More details here:

https://github.com/DataDog/glommio/issues/326

It is still open because we could never prove it, but your description seems similar.

[2022-01-06 14:19] thirstycrow commented on #494
@youjiali1995 Please check the glibc version of your aws linux2 host. The problem I faced was more likely caused by the Rust compiler instead of the kernel. Our application was running on CentOS 7.6 with glibc 2.17, and the Rust compile seems generated some code that depends on glibc 2.31 or later to work properly with some io-uring feature. I walk round it by compiling with a custom glibc 2.31 li

[2022-01-06 14:20] #326 closed

[2022-01-10 11:02] laa commented on #481
Hi guys, WDYT about exposing this method on `Local`(`Task`) level? If that is OK for you I will provide the PR soon because I need this method too.

[2022-01-26 14:57] tisonkun opened #516 "required rust version?"
Or you can add a [rust-toolchain.toml](https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file) file.

Failed to compile with "rustc 1.53.0 (53cb7b09b 2021-06-17)":

[code]

[2022-01-26 16:15] HippoBaro commented on #516
We currently are using 1.58. So far we have tried to stay in sync with stable.

[2022-01-26 16:18] glommer commented on #516
going forward we should have a minimum version and stick to it.
We'd like to use GATs soon, so now that they landed maybe it's time to solidify that.

[2022-01-27 01:48] tisonkun commented on #516
Thanks for your information! I can compile with 1.58.

Leave it as open util you guys add a section on README.md or a rust-toolchain.toml file.

[2022-01-30 07:14] HippoBaro commented on #368
#501 adds a proper interface for submitting blocking operations: `glommio::executor().spawn_blocking(...)`. It is backed by a thread poll.

[2022-01-30 07:14] #368 closed

[2022-01-30 16:13] #516 closed

[2022-02-03 21:37] davidblewett commented on #477
Chiming in here; `net::udp_socket::tests::multi_executor_bind_works` seems to hang every time for me (when running the whole test suite, whole test suite with 1 thread and just the single test). I have seen a handful of others hang as well, but I don't have the names handy.

`Linux 5.10.0-1052-oem #54-Ubuntu SMP Tue Nov 23 09:06:13 UTC 2021 x86_64`
[code]

Let me know if there's more info you want

[2022-02-07 08:52] inevity opened #522 "hyper examle cannot response any req from curl"
master glommio;  centos 8 stream kernel 5.16.7; glibc 2.28,  rustc 1.58.1 (db9d1b20b 2022-01-20)

[2022-02-07 15:29] glommer commented on #522
We'll need more info than that to get started. What exactly did you try ? CAn you be specific about how you started the example, and which curl command did you use ?

[2022-02-07 16:14] inevity commented on #522
Just run the hyper server main binary.
test on one thread glommio::PoolPlacement::Unbound(1) and default num_cpus::get thread.
use: curl -X GET http://localhost:8000/hello
Can you give some debug tips?

[2022-02-08 10:51] laa commented on #481
Fixed in PRs listed above.

[2022-02-08 10:51] #481 closed

[2022-02-09 18:52] dignifiedquire opened #524 "Reading from an immutable file before sealing"
I was wondering if this could be added. The use case is that I sequentially generate data, and need to read back into the already written parts, but would like to avoid keeping this in memory. The idea is that it would read from disk of that part has been flushed already or from the buffer for the parts that are still in memory and not yet flushed.

[2022-02-10 16:29] HippoBaro commented on #524
I think the better way to achieve this would be to use a `DmaFile` instead. Once you are done writing the file, you can create an `ImmutableFile` based on it.

In the future, we'll probably extract the read/write methods of `ImmutableFile` and `DmaFile` into a trait and it'll make things a lot simpler.

[2022-02-10 19:09] dignifiedquire commented on #524
That makes sense, I was mostly hoping to not have to replicate the entirety of `DmaStreamWriter`, as effectively the functionality I will need is that combined with a way to do `read_many`.

[2022-02-10 19:22] dignifiedquire commented on #294
I believe `libaio` is available on MacOS as well as on linux for systems that don't have iouring support. I personally would be very interested in a direction that uses the best thing that is available, on each platform. Would love to know if this sth you would consider merging if I end up working on this.

The degradation line would look roughly sth like this

- Linux: disk: io-uring -> libaio ->

[2022-02-10 20:00] dignifiedquire commented on #294
Note: [`mio`](https://github.com/tokio-rs/mio) supports only edge triggers, while [`polling`](https://github.com/smol-rs/polling/) supports only `oneshot` triggers.

[2022-02-10 21:43] HippoBaro commented on #522
Thanks for reporting the issue @inevity. I'll try to reproduce this weekend and I'll bisect the log to find the culprit if I can.

[2022-02-10 21:46] HippoBaro commented on #387
There is now a mention of this in the README.

[2022-02-10 21:46] #387 closed

[2022-02-20 15:46] dignifiedquire opened #531 "Implement poll_based API for net"
I am running into  issues when trying to work with TCP and UDP transports, because they don’t implement poll_ methods. Especially wrapping them into streams becomes very complex and sometimes impossible, because it requires a poll_next implementation.

[2022-02-20 18:52] dignifiedquire opened #532 "Failing test on `master`: list_and_mask_iterator_consistent_this_machine_sysfs"
I am experiencing a test failure when running against master on my current dev machine, when running `cargo test`

[code]

[2022-03-02 20:27] hiqsociety opened #537 "does thread per core means memory cannot be shared between the threads or does it mean it can?"
does thread per core means memory cannot be shared between the threads or does it mean it can?

[2022-03-02 20:40] glommer commented on #537
If you are never sharing memory, then you can just use different processes (which can be seen as an extreme version of thread-per-core). Think for example, a bunch of redis processes with manual sharding.

Thread-per-core allows for memory access between different threads through message passing. You have to be a bit careful for performance critical applications to free the memory in the same exec

[2022-03-02 20:40] #537 closed

[2022-03-02 20:56] bryandmc commented on #482
This is fixed by #510

[2022-03-02 20:56] #482 closed

[2022-03-02 22:32] HippoBaro commented on #537
I am adding a bit more on this one to avoid any confusion. A TPC application is no different than any other process. You can create a global variable accessible by all threads, use mutexes, etc.

However, that goes against the architectural ideas behind TPC. As Glauber said, it is preferable to codify ownership of resources in your application such that only a single CPU can ever access them. This

[2022-04-06 23:35] vmingchen opened #540 "Tests in timer/timer_impl.rs are time sensitive and can be flaky"
These tests cover the Timer API, so they are sensitive to timing and can be flaky if the dev environment changes. We need to make them more robust.

[2022-04-06 23:42] glommer commented on #540
Fully Agree.

Usually the way to make it work is to have a parametrized clock implementation that defaults to wallclock, but for tests you can pass your own that you can manually control.

[2022-04-14 09:57] dignifiedquire opened #544 "Implement `AsyncWrite` for &DmaStreamWriter"
Looking at the internals of `DmaStreamWriter` it never requires access to `&mut self`, but unfortunately the methods in `AsyncWrite` do so. Currently it is only implemented for `DmaStreamWriter`, but implementing it for `&DmaStreamWriter` would allow me to write using a read reference only.

Otherwise I am currently stuck, as I have to put the writer into a `RefCell` and borrow across an await poi

[2022-04-14 10:12] glommer commented on #544
to be honest I don't quite know what to do about this, and I have seen myself with similar problems in the past.
Because this is part of the trait, it's pretty hard to go around it.

I guess it makes *some* sense to say that for a linear writer like the streams, writes should not be coming from two fibers anyways, so mutable makes sense. But this happens is way too many traits =p

[2022-04-14 11:29] dignifiedquire commented on #544
I went and implemented a version for now, that is based on the pattern I have seen here:  https://github.com/smol-rs/async-io/blob/master/src/lib.rs#L1065 which ends up being really nice as an api user

[2022-04-15 09:39] dignifiedquire opened #546 "Inconsistency in `Sharded::send` and `Sharded::send_to`"
Currently `Sharded::send` takes `&self` and `Sharded::send_to` takes as `&mut self`, but there seems to be no need for the latter. Is there a reason for this, or is this just an oversight?

[2022-04-15 15:12] vmingchen opened #547 "timer::timer_impl::test::basic_timer_works hang in an EC2 instance"
The [test](https://github.com/DataDog/glommio/blob/master/glommio/src/timer/timer_impl.rs#L873) is consistently hanging in my EC2 VM while the same test consistently pass in a local VM. I have tried 3 different kernel versions and it is hanging all the same.

Maybe I have made a silly mistake in my EC2 VM setup, but I could not figure it out. Any ideas?

Here is a snippet of the hanging environmen

[2022-04-15 16:39] glommer commented on #546
definitely an oversight.

[2022-04-15 17:05] glommer commented on #547
It's concerning that such a simple test fails. On the other hand, it's great that it is a simple test that fails =p

However your C test doesn't seem fully equivalent to the rust test: the rust test sleeps for 100ms, while your C test sleeps for 1s.

This is relevant, because if we're racing with the wakeups, maybe the test fails with small sleeps but succeed with long sleeps (although 100ms is pr

[2022-04-15 17:59] vmingchen commented on #547
I have tried different sleeping times (10ms, 100ms, 1s, 10s) in the Rust test. All consistently hanging.

I also added printing logs, and it seems the timer even are submitted:

[code]

The prints are added in `sys/uring.rs`:

[code]

and into the liburing c code:

[code]

[2022-04-15 19:15] vmingchen opened #548 "PollRing and SleepRing have exactly the same submit_one_event implementation"
See [PollRing::submit_one_event](https://github.com/DataDog/glommio/blob/master/glommio/src/sys/uring.rs#L881) and [SleepableRing::submit_one_event](https://github.com/DataDog/glommio/blob/master/glommio/src/sys/uring.rs#L1213).

We should remove this duplication and check other parts as well.

[2022-04-15 19:51] vmingchen commented on #547
I added log into `io_uring_prep_timeout` into liburing:

[code]

Re-runing the test, I see logs like this:

[code]

I suspect we are accessing dangling pointer. Probably from [here](https://github.com/DataDog/glommio/blob/master/glommio/src/sys/uring.rs#L962). Aren't we using a pointer of a local variable there?

Too bad that the `asan` build failed with tokio errors, so I cannot ran the test with

[2022-04-15 20:59] vmingchen commented on #547
Got the `asan` build working, but it is not catching the bug. Turned out I need `--target x86_64-unknown-linux-gnu` to enable the asan build to work:

[code]

Somehow the test is still hanging and `asan` didn't catch anything.

[2022-04-15 21:11] vmingchen commented on #547
Tried `msan` and caught an use-of-uninitialized-value error, but without details.

[code]

[2022-04-15 21:23] glommer commented on #547
which may mean we accessed a valid object, in a valid region, but with the wrong contents (wrong index in a buffer, etc)

[2022-04-18 20:43] #544 closed

[2022-04-19 05:40] laa opened #553 "Provide ability to pass ownership of buffer during read/write file operations + registration inside io_uring"
I am using gloomio in a disk cache (which is part of a bigger database project) which provides the possibility to load pages from the disk, keep them inside of the disk cache and change them.

Unfortunately, it is impossible to read data from a file by providing your own buffer(passing the ownership). As result, I am bound to read the page and then copy it inside a newly allocated memory chunk.

F

[2022-04-19 10:44] glommer commented on #553
Hey Andrey,

When I wrote `read_at` and friends I did try to have an API that would take a buffer, and also tried to create traits around our buffers. So the desire to make this generic was there from the start =)

I wasn't very happy with the end result so I canned it.

Memory registration is also interesting, but in practice it has to be done when the executor comes online. After there are reque

[2022-04-19 14:08] HippoBaro commented on #553
We could rely on `IO_USING_DRAIN` to safely do so without much-added logic on our side. We should also consider the design of tokio-uring that has gone in another direction: https://github.com/tokio-rs/tokio-uring/blob/design-doc/DESIGN.md#buffer-management

[2022-04-20 00:20] bryandmc commented on #553
I have been playing around with what the right abstraction is for this stuff, and I think we can all basically agree that we want to be able to accept one-off buffers, and register pools/custom allocators or similar. For example, I have been attempting to finish up a patch that adds back fastpoll sockets that use "buffer selection" which requires registering buffers with the kernel. Basically this

[2022-05-16 07:28] hiqsociety opened #554 "why is glommio slower on benchmark against bytedance's monoio?"
why is glommio slower on benchmark against bytedance's monoio?
https://github.com/bytedance/monoio

[2022-06-04 09:23] geobeau opened #555 "Possible deadlock when using mesh with high contention on the queues"
When taking the sharding example: https://github.com/DataDog/glommio/blob/master/examples/sharding.rs
If you increase the number of messages in the stream or reduce the channel size, the program will never finish.

 Step to reproduce:
[code]
 Modify the channel_size if the mesh:
 `    let mesh = MeshBuilder::full(nr_shards, 1024);`
 To
 `    let mesh = MeshBuilder::full(nr_shards, 1);`
[code]

You

[2022-06-06 14:54] glommer commented on #555
Thanks! Realistically it will take me a couple of weeks to get to this as I am currently traveling.
sorry about that!

[2022-07-11 14:22] haixuanTao opened #557 "Failing to compile due to `membarrier-rs`"
I am having this issue: https://github.com/jeehoonkang/membarrier-rs/issues/22 when I try to compile `glommio` on Linux and although I understand that this is not related to this crate I was wondering how are you guys compiling `glommio`

Is there a `cargo` feature that allows you to bypass the by-default crate?

[2022-07-11 20:04] glommer commented on #557
That's a tough one. As you noticed we opened a PR on that repository, and it never got anywhere.
The best way would be to stop using that crate and using something else instead, or do what we did with `iou` in the past, and license permitting, copying the code inside glommio and doing the fix ourselves.

[2022-07-12 08:16] haixuanTao commented on #557
I see. As a user perspective, I feel like it is not necessarily easy to downcast Rust version just for one crate, and as a fix already exist, it's a shame the fix is not used. I don't know if there is any recommended way to fix unmaintained crates published on crates.io, but it happens quite often.

Have you ever considered publishing a fixed `membarrier` with another name on crates.io?

[2022-07-12 12:59] glommer commented on #557
I am not willing to push a new `membarrier`, because now I am stuck with the burden of maintaining it for general cases =p

We had a similar issue with `iou`, and what we did was we just imported the code (see `iou` directory inside glommio).
What do you think of that ?

[2022-07-12 14:58] haixuanTao commented on #557
Yeah completely understandable. I was thinking about putting a big warning in the README that says that you're not planning on maintaining it, but I guess that even for your own use, it might be tiring to maintain it.

I feel that importing the code within glommio is a potential fix although it would lean toward the short term fix, and, other people who want to use your version of `membarrier` mig

[2022-07-18 01:53] glommer commented on #557
Can you tell me more about your environment ? I just compiled the current master with nightly and everything went just fine.

How did that fail for you ?

[2022-07-18 13:21] haixuanTao commented on #557
I still have the issue compiling `membarrier==0.2.2` with latest from main branch:
[code]

The output of `uname -a` and `ulimit -l`.
[code]
[code]

[2022-07-18 13:59] glommer commented on #557
I submitted this:

https://github.com/DataDog/glommio/pull/558

We're having issues with the license verification stuff, but should fix that shortly

[2022-07-20 01:36] #557 closed

[2022-07-28 14:07] gaborhermann commented on #294
Docker can be an alternative to a VM (that @bryandmc suggested). It might also integrate with some IDE on the host machine (e.g. IntelliJ). Of course, only if performance doesn't matter.

It's a bit tricky to set `ulimit -l 512`, I only managed to do it with `docker run --privileged`, for some reason `docker run --ulimit memlock=512:512` changed the `ulimit -l` to `0`.

I got it working (on MacBoo

[2022-08-12 22:07] rrichardson opened #561 "Support for SENDZC family of operations"
io_ring supports the registration and re-use of buffers via the SENDZC family of operations:

See:
https://lwn.net/ml/linux-kernel/cover.1640029579.git.asml.silence@gmail.com/
https://lwn.net/ml/linux-kernel/af0d6b3e-85d0-9b61-4acd-5eef1375f934@gmail.com/
https://lwn.net/Articles/879724/

I'm still learning Glommio, but it seems like it'd be a fair amount of work to support:

- The creation/manage

[2022-08-13 04:57] glommer commented on #561
@rrichardson yes, this feature is relatively recent on io_uring so we haven't considered it yet.
But it's a very good addition!

Another thing that would be fantastic would be something like this:
https://git.kernel.dk/cgit/linux-block/commit/?h=io_uring-flags2&id=ef2c2c975a921046e081a6aa29732c5c7b09cdb2

I talked to Jens about it on twitter a while ago, but I don't know if that is merged yet.

Fo

[2022-08-13 17:45] rrichardson commented on #561
Another benefit of  not needing Send/Sync is that it should be easier to manage && data strutures.

We will probably not escape some unsafe while convincing rustc about the ownership of these buffers that are co-owned by io_uring.

[2022-08-13 17:47] rrichardson commented on #561
Maybe an ExecutorArena data structure would be the ticket.

[2022-08-13 21:24] bryandmc commented on #561
Hey @rrichardson - I definitely want to implement this at some point. That said, it is VERY new and there might be a few other features that we want to implement before this.. I am trying to consider adding them based on compatible version so that we aren't making a feature that only 5 guys running 'master' can even run..

We have a decent amount of experience sharing buffers with io_uring so we a

[2022-08-13 21:33] bryandmc commented on #554
Because they are using fastpoll, probably.. at least I think that's why there was faster if I remember correctly. I had an alpha fastpoll branch and we were faster so maybe that's the different.

We aren't sure when we will have support for faster sockets... it's something I want to do but haven't had time since the birth of my child. In time, we will get it done. Patches welcome!

[2022-08-14 13:07] dranikpg commented on #168
I really doubt there is anything to improve - malloc is _really really_ fast.

I'm using my own SLAB allocator together with `#[thread_local]`. I'm beating the default allocator only by the slightest margin for empty futures and by about 5% for larger futures.

[2022-08-14 23:54] glommer commented on #168
@dranikpg after working with this for a while... you're likely right.

[2022-08-14 23:54] #168 closed

[2022-08-14 23:55] #546 closed

[2022-08-14 23:56] glommer commented on #561
@bryandmc congrats on your first kid!! Totally unrelated to this ticket of course, but my third is coming in a couple of months. The second was already a crazy ride, and the third a total surprise. So definitely understand you!

[2022-09-15 06:44] cjjb01 opened #565 "'Cannot allocate memory' warning when building a LocalExecutorBuilder"
Running this code
`
    let builder_unbound = LocalExecutorBuilder::new(Placement::Unbound);
    let _handle1 = builder_unbound.name("configuration").spawn(|| async move {
        watch_configuration(arc_config2);
    })?;`
Generates the following warning
`^[[2m2022-09-15T06:01:24.576196Z^[[0m ^[[33m WARN^[[0m ^[[2mglommio::sys::uring^[[0m^[[2m:^[[0m Error: registering buffers in the main ring. Sk

[2022-09-15 07:59] HippoBaro commented on #565
Registering buffers with io_uring involves locking memory, which is governed by the limits of your system. By default, Linux is very restrictive, so we advise raising that limit is the readme file.

Try to see what `ulimit -l` returns to see your current limit.

[2022-09-15 22:42] cjjb01 commented on #565
Thanks for the reply, I did increase the limit:
marea@ubuntu:~/projects/streamer$ ulimit -l
131072

[2022-09-16 04:30] HippoBaro commented on #565
Can you share with us the way you are spawning the executor? Specifically, are you using the `io_memory` configuration?

[2022-09-16 04:48] cjjb01 commented on #565
Never mind, I increased the memory settings to the following and the error has disappeared:
`*    hard    memlock        1048576`
`*    soft    memlock        1048576`

Thank you very much for your prompt responses to my questions! Have a great weekend!

[2022-09-16 05:02] HippoBaro commented on #565
Awesome! It's likely because the default io memory we try to allocate exceeded the limit you set. This is unlikely to happen for a single executor, but when building a pool, we tend to reach the limit much faster, especially on a bigger system.

Happy your problem is resolved. Take care!

[2022-09-16 05:02] #565 closed

[2022-09-19 16:18] viktortnk opened #566 "possible typo in ping_pong example"
https://github.com/DataDog/glommio/blob/6e5eae03727ae8a3f79d5ba01126de484ebc19ce/examples/ping_pong.rs#L23

Should it be set to false in this line (curently true)?

I assume the intention is to allow jumping between coroutines

[2022-09-22 00:23] glommer commented on #566
The main goal of this example is to demonstrate `enclose!` in a real application. But obviously we want the code to be sound.

Reading the code, you are correct. The first loop should test for true and set to false, and the second loop should do the opposite.

[2022-09-24 17:44] #566 closed

[2022-09-26 20:24] pbdeuchler opened #568 "Non blocking TcpListener acceptance"
Hello,

I'm trying to write an event loop that either accepts a TcpListener connection or performs business logic. The business logic needs to be done on every loop iteration, but incoming connections will be relatively infrequent. This loop is in the hot path and is performance sensitive, so I'd like to avoid accepting the connections in another thread and sharing them over something like an SPSC

[2022-10-03 22:12] pbdeuchler opened #569 "Issues with Docker on M1"
I think there might be some issues running glommio in docker on the M1 machines... I've been having some trouble with timers and sockets, and after stripping things down to their most barebones (examples from the docs), I'm still getting incorrect results. Please correct me if I'm missing something here, I'm nowhere close to a glommio expert.

For example:
[code]

Gives me (`cargo run --bin glomte

[2022-10-03 22:12] pbdeuchler commented on #568
closing for #569

[2022-10-03 22:12] #568 closed

[2022-10-03 22:49] glommer commented on #569
I've got an M1 (M2, but hopefully the same) and will try to reproduce.

[2022-10-04 00:14] glommer commented on #569
tl;dr: There's a small issue with your code, but running on docker presented some challenges, and I don't know if you even got this far. The issue in the code doesn't lead the code to just hang, so maybe you hit an earlier issue. I am adding my full exploration below. Once you get this running, please let me know what exactly was your issue so we can improve the docs.

## Docker issues

First issu

[2022-10-11 17:46] vlovich opened #570 "Should `DmaFile::write_at` return an error if storage is full?"
`write_at` is documented as

However, this feels like it should generate a an GlommioError that has an IO Error of kind `std::io::ErrorKind::StorageFull` as most users will want to propagate "disk full" as an error rather than needing to check if number of bytes written == number of bytes sent after each write. The error can contain additionally contain the number of bytes that were successfully w

[2022-10-11 19:24] glommer commented on #570
The problem is that the semantics of the write system call are different than that.

It says:

       bytes.  Such partial writes can occur **for various reasons**;  for
       example...

(emphasis mine, and then they proceed to list examples, including disk full)

So from the principle of least surprise, it is a bit dangerous to just convert short writes to storage full.
There is some value in r

[2022-10-12 00:55] vlovich commented on #570
Hmm... is there any documentation for how io_uring works with respect to interrupts? I would have thought that the io_uring syscalls can get interrupted but the actual scheduled I/O would never interrupt and thus short writes aren't possible...

[2022-10-12 08:15] HippoBaro commented on #570
Once a request is pushed to the ring, it cannot be interrupted in the traditional sense of the word (via a signal for instance), because the kernel is processing it outside of user space.

However, this doesn't mean short writes aren't possible. Short writes can happen for a variety of reasons. Some filesystems will behave differently than other, the kernel can throttle writes to improve reads if

[2022-10-12 23:12] vlovich commented on #570
Are the write amounts at least guaranteed to be aligned or do I have to align_down and rewrite the part I did?

Is there any examples of recommended ways to handle short writes? I want to make sure I'm writing the code robustly and efficiently. Do you usually just ignore short writes as never happening in your own code? As far as I know, once I call `write_at` I transfer ownership of the buffer. D

[2022-10-13 11:45] glommer commented on #570
To my knowledge, I assume they are aligned, but we should assert.
Asserting is bad, but it is less bad than silently breaking something.

To be clear, for *async* writes, I don't think they can be interrupted. The example that hippo gave on sockets, are clearly not something that matters for storage write, etc.

So if you ask me what *will happen* if something returns a successful short write, you

[2022-10-13 20:29] vlovich commented on #570
As I understand it, typically the Linux kernel policy is that documentation or not, changes that break "correct" observable user-space behavior aren't allowed of course what is "correct" is a mixture of man pages and common sense of Linus & other devs so who knows how they'll rule on some hypothetical future breakage.

Given that you want the end user to handle a short write, it still feels like i

[2022-10-15 08:50] glommer commented on #570
Yes, there's usually this policy, but because short writes are already present, the usual thing to do upon a short write is to try again. It is not unreasonable to assume that programs would be testing for short write and retrying.

I feel like from our PoV, if we want to say that this is an error `GlommioError::ShortWrite` and we want to return that as an error versus success, it is a reasonable

[2022-10-17 18:29] pbdeuchler commented on #569
Awesome, thank you for the detailed response and for explaining everything out. Interestingly enough I didn't have to do as much docker tweaking as you did to get things running, just the ulimit.

[2022-10-18 13:39] glommer commented on #569
@pbdeuchler based on the above, what are the parts that you think would be best for us to add to readme and/or docs for a smoother experience ?

The whole thing sounds a bit too much =(

[2022-10-20 23:41] vlovich opened #573 "Write out the DMA buffer partially?"
In normal I/O, if you wanted to make sure your data structure is aligned on some large boundary (e.g. 8 MiB) but you wanted to do smaller writes, you would simply write out how much data you have (aligned to 4kib boundaries for Direct I/O) and lseek to the next 8 MiB boundary.

I recognize that glommio can't do this today, but I wonder if such functionality could be added. One possible way I'm thi

[2022-10-21 23:32] vlovich opened #574 "`append` changes `write_at` in a weird way that's not well-documented"
The test below will fail if you uncomment the "append" line. The reason is that the position is ignored for all writes. It may be nice to put a clearer warning in the docs for `append` that it changes `write_to` in this way + a callout in `write_to` that `pos` is ignored when the file is opened `append`.

Overall, I'm kind of curious what the use-case `append` solves is. Is it to avoid some kind o

[2022-10-22 00:05] vlovich commented on #573
Not sure if exposing `trim_to_size` is all that's needed although I don't know if that'll actually work (haven't tried it out).

[2022-10-22 19:45] vlovich opened #575 "Extend read ownership of `DmaBuffer` past `write_to`"
I had this thought that it would be really convenient to be able to continue doing some kind of background processing of the data buffer in a background thread (e.g. converting it into a more optimal data structure) while I/O is ongoing without requiring a copy. I'm not too familiar with how io_uring works so maybe this isn't possible, but would it make sense to try to offer the ability to extend

[2022-10-24 15:48] glommer commented on #574
This is very surprising to me.

but in a nutshell, just shows how complex and full of edge cases things are =)

I checked the man page, which says this:

[code]

I ignored the paragraph that talks about NFS, because everything leads to data corruption on NFS, the only thing that doesn't, is not using NFS.

The interesting bits are:

Before *EACH* write.

So the behavior your describe makes sense.

[2022-10-24 15:54] glommer commented on #575
I think it is possible, but would require a different API.

This needs more thought to make sure the API is sane, we wouldn't be able to do this by just adding stuff on top of `write`. But it is something that other people had requested in the past, and I think it is reasonable.

This seems to me mostly a rust issue, not an io_uring issue. io_uring will write whatever pointer you give it. The bigg

[2022-10-24 18:51] vlovich commented on #575
I figured it was going to be a Rust thing. The only concern I had was that submitting an io_uring buffer passed off ownership of the buffer to the kernel. My perhaps naiive idea (I'm very new to Rust), is to basically just have:

[code]

Then all `write` methods can be changed to require taking a `SealedDmaBuffer`. A `SealedDmaBuffer` is clonable and acts like a `ReadResult`. Each `SealedDmaBuffer

[2022-10-24 18:57] vlovich commented on #573
`DmaFile`

[2022-10-24 20:07] glommer commented on #573
I think your best bet is a positional write followed (or preceeded) by `fallocate` or `ftruncate`.

There is no such thing as unallocated space in a file in general from the VFS PoV. Individual filesystems may have optimizations like that, but if a file has a certain size, the filesystem will commit blocks to it.

Whether or not they get zeroed is a different matter, but they usually are - otherwi

[2022-10-24 23:07] vlovich commented on #573
That doesn't actually help because you're still going to get write amplification to the flash. Most Linux filesystems (XFS, ext4, btrfs AFAIK) will all write a much smaller amount of data to record the hole which would avoid the amplification.

[2022-10-24 23:30] vlovich commented on #573
Also `fallocate` isn't exposed itself AFAICT. It's only exposed within the crate so that `pre_allocate` can invoke it.

[2022-10-24 23:44] vlovich opened #576 "`pre_allocate` implemented incorrectly?"
`pre_allocate` uses the mode of `FALLOC_FL_ZERO_RANGE`. However, the "Allocating disk space" section of https://man7.org/linux/man-pages/man2/fallocate.2.html indicates that you should probably use a value of 0 for the flags if you want the range `offset + length` to not be overwritten with zeroes (i.e. only new space is zeroed out). Considering `pre_allocate` doesn't take a starting offset to let

[2022-10-25 01:06] vlovich commented on #570
Should the error handling for the short write be in `Source`, `DmaFile` or somewhere else? I was looking at `uring.rs` and maybe it's in `process_one_event` but the generic `process_one_event` method makes me uneasy that maybe I should put it in the callback instead of handling it directly within that instead.

[2022-10-26 00:41] #576 closed

[2022-10-26 00:54] #574 closed

[2022-10-26 01:15] glommer commented on #570
This should not be at the `Source` level. This is a higher level API decision, breaking with what the OS provides should happen as high as possible.

Because we ingest the buffer, it is not currently possible (with this API) to return it.
We considered in the past returning `Result<DmaBuffer>` from this API. If a short write becomes an error, that actually lifts the major reason to return `usize`

[2022-10-27 00:25] vlovich commented on #570
So just so I'm making sure I'm understanding properly. Change the return type so that Source returns `Result<DmaBuffer>` and then `DmaFile` would be responsible for detecting short reads?

I think that works but there's a couple more nuances:
1. How do I truncate the DmaBuffer to indicate that the beginning part of the buffer no longer needs to be written? Is that what the unused `trim` variable i

[2022-10-31 15:53] glommer commented on #570
hey @vlovich .

A couple of comments:

My intuition here is that we should return the whole buffer back. If we return an error containing the length that was effectively written, then it's the user's responsibility to deal with how to retry (you could retry the whole buffer again from the previous position after freeing up some space, for example).

About 2, I can see implementations going both wa

[2022-11-17 22:00] vlovich opened #582 "MeshIPC causes valgrind to hang"
I haven't fully traced down what's happening but valgrind seems to randomly hang, but only when using a mesh.

Normal without valgrind:
[code]

With valgrind:
[code]

The specific stack trace tends to vary:
[code]

main.rs: https://gist.github.com/vlovich/fddbd15c52a3b86648688e2fc3d66e30
If you change `use_mesh` to false the code works fine under valgrind which makes me think it might be some kind